<h1>Under Construction</h1>
<!-- <div class="row">
    <div class="ms-t-review-wrapper">
      <div
        class="ms-t-review-item"
        *ngFor="let review of product?.reviews"
      >
        <div class="ms-t-review-avtar">
          <img
            src="https://media.istockphoto.com/id/1495088043/vector/user-profile-icon-avatar-or-person-icon-profile-picture-portrait-symbol-default-portrait.jpg?s=1024x1024&w=is&k=20&c=oGqYHhfkz_ifeE6-dID6aM7bLz38C6vQTy1YcbgZfx8="
            alt="user"
          />
        </div>
        <div class="ms-t-review-content">
          <div class="ms-t-review-top">
            <div class="ms-t-review-name">
              {{ review.userid }}
            </div>
            <div class="ms-t-review-rating">
              <i
                class="msicon msi-star fill"
                *ngFor="let star of [].constructor(review.stars)"
              ></i>
              <i
                class="msicon msi-star-o"
                *ngFor="
                  let star of [].constructor(5 - review.stars)
                "
              ></i>
            </div>
          </div>
          <div class="ms-t-review-bottom">
            <p>{{ review.reviewDescription }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="ms-ratting-content">
      <h3>Add a Review</h3>
      <div class="ms-ratting-form">
        <form action="#">
          <div class="ms-ratting-star">
            <span>Your rating:</span>
            <div class="ms-t-review-rating">
              <i class="msicon msi-star fill"></i>
              <i class="msicon msi-star fill"></i>
              <i class="msicon msi-star-o"></i>
              <i class="msicon msi-star-o"></i>
              <i class="msicon msi-star-o"></i>
            </div>
          </div>
          <div class="ms-ratting-input">
            <input
              name="your-name"
              placeholder="Name"
              type="text"
            />
          </div>
          <div class="ms-ratting-input">
            <input
              name="your-email"
              placeholder="Email*"
              type="email"
              required
            />
          </div>
          <div class="ms-ratting-input form-submit">
            <textarea
              name="your-comment"
              placeholder="Enter Your Comment"
            ></textarea>
            <button class="ms-btn-2" type="submit" value="Submit">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div> -->
