<div class="row">
  <ng-container *ngIf="reviews != undefined; else noReviews">
    <div class="ms-t-review-wrapper">
      <div
        class="ms-t-review-item"
        *ngFor="let review of reviews; let i = index"
      >
        <!-- src="https://www.kindpng.com/picc/m/24-248253_user-profile-default-image-png-clipart-png-download.png" -->
        <div class="ms-t-review-avtar">
          <img src="{{ apiEndpoint + '/' + users[i]?.image }}" alt="user" />
        </div>
        <div class="ms-t-review-content">
          <div class="ms-t-review-top">
            <div class="ms-t-review-name">
              {{ users[i]?.name }}
            </div>
            <div class="ms-t-review-rating">
              <i
                class="msicon msi-star fill"
                *ngFor="let star of [].constructor(review.rate)"
              ></i>
              <i
                class="msicon msi-star-o"
                *ngFor="let star of [].constructor(5 - review.rate)"
              ></i>
            </div>
          </div>
          <div class="ms-t-review-bottom">
            <p>{{ review.comment }}</p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #noReviews>
    <div class="alert alert-info text-center">
      <p>No Reviews Yet</p>
    </div>
  </ng-template>
  <div class="ms-ratting-content">
    <h3>Add a Review</h3>
    <div class="ms-ratting-form">
      <form action="#">
        <div class="ms-ratting-star">
          <span>Your rating:</span>
          <div class="ms-t-review-rating">
            <i
              class="msicon msi-star fill"
              (click)="setUserRate(1)"
              style="cursor: pointer"
            ></i>
            <i
              class="msicon msi-star{{ userRate >= 2 ? ' fill' : '-o' }}"
              (click)="setUserRate(2)"
              style="cursor: pointer"
            ></i>
            <i
              class="msicon msi-star{{ userRate >= 3 ? ' fill' : '-o' }}"
              (click)="setUserRate(3)"
              style="cursor: pointer"
            ></i>
            <i
              class="msicon msi-star{{ userRate >= 4 ? ' fill' : '-o' }}"
              (click)="setUserRate(4)"
              style="cursor: pointer"
            ></i>
            <i
              class="msicon msi-star{{ userRate >= 5 ? ' fill' : '-o' }}"
              (click)="setUserRate(5)"
              style="cursor: pointer"
            ></i>
          </div>
        </div>
        <div class="ms-ratting-input form-submit">
          <textarea
            name="your-comment"
            placeholder="Enter Your Comment"
            [(ngModel)]="userComment"
          ></textarea>
          <button class="ms-btn-2" (click)="addReview()">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- 

{
    _id: string;
    userId: string;
    productId: string;
    comment: string;
    rate: number;
}

 -->
