<div class="profile">
    <h2>Profile</h2>
    <div class="user-details" *ngIf="userProfile">
      <div class="avatar">
        @if (userProfile.image != '') {
          <img src="{{img_URL}}" alt="User Avatar">
        } @else {
          <img src="assets/img/icons/profile_icon.png" alt="User Avatar">
        }
      </div>
      <div class="info">
        <p><strong>Name:</strong> {{ userProfile.name }}</p>
        <p><strong>Email:</strong> {{ userProfile.email }}</p>
        <p><strong>Age:</strong> {{ userProfile.age }}</p>
        <p><strong>Gender:</strong> {{ userProfile.gender }}</p>
        <p><strong>Mobile:</strong>
            <span *ngFor="let phone of userProfile.phone"> {{ phone }}</span>
          </p>
          <p><strong>Address:</strong>
            <span *ngFor="let address of userProfile.address"> {{ address }}</span>
          </p>
          <div>
            <button class="btn btn-primary m-3" type="button" routerLink="/update">Update Profile</button>
            <button class="btn btn-danger" type="button" routerLink="/delete">Delete Profile</button>
          </div>
      </div>
    </div>
  </div>