<!-- Breadcrumb start -->
<div class="ms-breadcrumb m-b-30">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row ms_breadcrumb_inner">
                    <div class="col-md-6 col-sm-12">
                        <h2 class="ms-breadcrumb-title">Privacy Policy</h2>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <!-- ms-breadcrumb-list start -->
                        <ul class="ms-breadcrumb-list">
                            <li class="ms-breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="ms-breadcrumb-item active">Privacy Policy</li>
                        </ul>
                        <!-- ms-breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb end -->

<!-- Privacy Policy section -->
<section class="ms-privacy-policy padding-tb-30">
    <div class="container">
        <div class="section-title-2">
            <h2 class="ms-title"><span>Privacy</span> Policy</h2>
            <p>Security happens to be our priority.</p>
        </div>
        <div class="row p-t-15">
            <div class="col-lg-6">
                <div class="ms-common-wrapper">
                    <div class="col-sm-12 ms-cms-block">
                        <div class="ms-cms-block-inner">
                            <h5 class="ms-cms-block-title">Welcome to Masterkart Store.</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <b>Lorem
                                    Ipsum is simply dutmmy text</b> ever since the 1500s, when an unknown printer
                                took a galley of type and scrambled it to make a type specimen book. It has survived
                                not only five centuries, but also the leap into electronic typesetting, remaining
                                essentially unchanged. <b>Lorem Ipsum is simply dutmmy text.</b></p>
                        </div>
                    </div>
                    <div class="col-sm-12 ms-cms-block">
                        <div class="ms-cms-block-inner">
                            <h5 class="ms-cms-block-title">Master kart Websites</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <b>Lorem
                                    Ipsum is simply dutmmy text</b> ever since the 1500s, when an unknown printer
                                took a galley of type and scrambled it to make a type specimen book. It has survived
                                not only five centuries, but also the leap into electronic typesetting, remaining
                                essentially unchanged. <b>Lorem Ipsum is simply dutmmy text.</b></p>
                        </div>
                    </div>
                    <div class="col-sm-12 ms-cms-block">
                        <div class="ms-cms-block-inner">
                            <h5 class="ms-cms-block-title">How browsing and vendor works?</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <b>Lorem
                                    Ipsum is simply dutmmy text</b> ever since the 1500s, when an unknown printer
                                took a galley of type and scrambled it to make a type specimen book. It has survived
                                not only five centuries, but also the leap into electronic typesetting, remaining
                                essentially unchanged. <b>Lorem Ipsum is simply dutmmy text.</b></p>
                        </div>
                    </div>
                    <div class="col-sm-12 ms-cms-block">
                        <div class="ms-cms-block-inner">
                            <h5 class="ms-cms-block-title">Becoming an vendor</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <b>Lorem
                                    Ipsum is simply dutmmy text</b> ever since the 1500s, when an unknown printer
                                took a galley of type and scrambled it to make a type specimen book. It has survived
                                not only five centuries, but also the leap into electronic typesetting, remaining
                                essentially unchanged. <b>Lorem Ipsum is simply dutmmy text.</b></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 m-t-991">
                <div class="ms-accordion style-1">
                    <div class="ms-accordion-item">
                        <h4 class="ms-accordion-header">
                            What is the multi vendor services?
                        </h4>
                        <div class="ms-accordion-body show">Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem
                            Ipsum has been the industry's standard <code>dummy text</code> ever since the 1500s,
                            when an
                            unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </div>
                    </div>
                    <div class="ms-accordion-item">
                        <h4 class="ms-accordion-header">
                            How to buy many products at a time?
                        </h4>
                        <div class="ms-accordion-body">Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem
                            Ipsum has been the industry's standard <code>dummy text</code> ever.
                            unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </div>
                    </div>
                    <div class="ms-accordion-item">
                        <h4 class="ms-accordion-header">
                            Refund policy for customer.
                        </h4>
                        <div class="ms-accordion-body">Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem
                            unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </div>
                    </div>
                    <div class="ms-accordion-item">
                        <h4 class="ms-accordion-header">
                            Exchange policy for customer.
                        </h4>
                        <div class="ms-accordion-body">Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem
                            Ipsum has been the industry's standard <code>dummy text</code> ever since the 1500s,
                            when an Ipsum has been the industry's
                            unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </div>
                    </div>
                    <div class="ms-accordion-item">
                        <h2 class="ms-accordion-header">
                            Give a way products available.
                        </h2>
                        <div class="ms-accordion-body">Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem
                            Ipsum has been the industry's standard <code>dummy text</code> ever since the 1500s,
                            when an
                            Ipsum has been the industry's standard <code>dummy text</code> ever since the 1500s.
                            unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </div>
                    </div>
                </div>
                <div class="ms-common-wrapper m-t-30">
                    <div class="col-sm-12 ms-cms-block">
                        <div class="ms-cms-block-inner">
                            <h5 class="ms-cms-block-title">How browsing and vendor works?</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <b>Lorem
                                    Ipsum is simply dutmmy text</b> ever since the 1500s, when an unknown printer
                                took a galley of type and scrambled it to make a type specimen book. It has survived
                                not only five centuries, but also the leap into electronic typesetting, remaining
                                essentially unchanged. <b>Lorem Ipsum is simply dutmmy text.</b></p>
                        </div>
                    </div>
                    <div class="col-sm-12 ms-cms-block">
                        <div class="ms-cms-block-inner">
                            <h5 class="ms-cms-block-title">Becoming an vendor</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <b>Lorem
                                    Ipsum is simply dutmmy text</b> ever since the 1500s, when an unknown printer
                                took a galley of type and scrambled it to make a type specimen book. It has survived
                                not only five centuries, but also the leap into electronic typesetting, remaining
                                essentially unchanged.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Privacy Policy section End -->