@if(isWishlistSidebarVisible){
    <div id="ms-side-wish" class="ms-side-wish">
        <div class="ms-wish-inner">
            <div class="ms-wish-top">
                <div class="ms-wish-title">
                    <span class="wish_title">My Wishlist</span>
                    <a href="javascript:void(0)" class="ms-wish-close"><img src="assets/img/icons/close.svg"
                            class="svg_img pro_svg" alt="close" (click)="onCloseWishlistSidebar()"></a>
                </div>
                <ul class="ms-wish-pro-items">
                    @for(item of wishListItems; track item._id) {
                        <li>
                            <a [routerLink]="'/products/' + item._id" class="ms-pro-img"><img src="{{item.image}}" alt="product"></a>
                            <div class="ms-pro-content">
                                <a [routerLink]="'/products/' + item._id" class="wish-pro-title">{{item.name}}</a>
                                <span class="wish-price">L.E{{item.price}}</span>
                                <div class="ms-availability">
                                    @if(item.quantity > 0) {
                                            <p class="stock avail">
                                                In stock
                                            </p>
                                        } @else {
                                            <p class="stock not-avail">Out Stock</p>
                                        }
                                    <button type="button" class="ms-btn-2" (click)="updateCartProducts(item)">Add to cart</button>
                                </div>
                                <a href="javascript:void(0)" class="remove" (click)="removeFromWishList(item, $event)">×</a>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <!-- Wishlist sidebar End -->

    <div class="ms-side-wish-overlay" (click)="onCloseWishlistSidebar()"></div>
}