<!-- Service Section -->
<section class="ms-service-section padding-tb-30 backgroundColor">
    <div class="container">
        <div class="row m-tb-minus-12">
            <div class="ms-ser-content ms-ser-content-1 col-sm-6 col-md-6 col-lg-3 p-tp-12">
                <div class="ms-ser-inner">
                    <div class="ms-service-image">
                        <img src="assets/img/service/1.png" class="svg_img" alt="">
                    </div>
                    <div class="ms-service-desc">
                        <h3>Free Shipping</h3>
                        <p>Free shipping on all US order or order above $200</p>
                    </div>
                </div>
            </div>
            <div class="ms-ser-content ms-ser-content-2 col-sm-6 col-md-6 col-lg-3 p-tp-12">
                <div class="ms-ser-inner">
                    <div class="ms-service-image">
                        <img src="assets/img/service/2.png" class="svg_img" alt="">
                    </div>
                    <div class="ms-service-desc">
                        <h3>24X7 Support</h3>
                        <p>Contact us 24 hours a day, 7 days a week</p>
                    </div>
                </div>
            </div>
            <div class="ms-ser-content ms-ser-content-3 col-sm-6 col-md-6 col-lg-3 p-tp-12">
                <div class="ms-ser-inner">
                    <div class="ms-service-image">
                        <img src="assets/img/service/3.png" class="svg_img" alt="">
                    </div>
                    <div class="ms-service-desc">
                        <h3>30 Days Return</h3>
                        <p>Simply return it within 30 days for an exchange</p>
                    </div>
                </div>
            </div>
            <div class="ms-ser-content ms-ser-content-4 col-sm-6 col-md-6 col-lg-3 p-tp-12">
                <div class="ms-ser-inner">
                    <div class="ms-service-image">
                        <img src="assets/img/service/4.png" class="svg_img" alt="">
                    </div>
                    <div class="ms-service-desc">
                        <h3>Payment Secure</h3>
                        <p>Contact us 24 hours a day, 7 days a week</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Service Section End -->