@if (isMenuSideBarVisible) {
<!-- Mobile Menu sidebar Start -->
<div class="ms-mobile-menu-overlay"></div>
<div id="ms-mobile-menu" class="ms-mobile-menu ms-menu-open">
  <div class="ms-menu-title">
    <span class="menu_title">My Menu</span>
    <button class="ms-close-menu" (click)="onCloseMenuSideBar()">×</button>
  </div>
  <div class="ms-menu-inner">
    <div class="ms-menu-content">
      <div class="ms-mobile-search">
        <form>
          <input type="text" name="search" placeholder="Search.." />
          <button class="search_submit" type="submit">
            <img
              src="assets/img/icons/search.svg"
              class="svg_img search_svg"
              alt=""
            />
          </button>
        </form>
      </div>
      <ul>
        <li><a href="index.html">Home</a></li>

        <li>
          <a href="javascript:void(0)">Categories</a>
          <ul class="sub-menu">
            <li>
              <a href="javascript:void(0)">Classic Variation</a>
              <ul class="sub-menu">
                <li>
                  <a href="shop-left-sidebar-col-3.html"
                    >Left sidebar 3 column</a
                  >
                </li>
                <li>
                  <a href="shop-left-sidebar-col-4.html"
                    >Left sidebar 4 column</a
                  >
                </li>
                <li>
                  <a href="shop-right-sidebar-col-3.html"
                    >Right sidebar 3 column</a
                  >
                </li>
                <li>
                  <a href="shop-right-sidebar-col-4.html"
                    >Right sidebar 4 column</a
                  >
                </li>
                <li>
                  <a href="shop-full-width.html">Full width 4 column</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="javascript:void(0)">Classic Variation</a>
              <ul class="sub-menu">
                <li>
                  <a href="shop-banner-left-sidebar-col-3.html"
                    >Banner left sidebar 3 column</a
                  >
                </li>
                <li>
                  <a href="shop-banner-left-sidebar-col-4.html"
                    >Banner left sidebar 4 column</a
                  >
                </li>
                <li>
                  <a href="shop-banner-right-sidebar-col-3.html"
                    >Banner right sidebar 3 column</a
                  >
                </li>
                <li>
                  <a href="shop-banner-right-sidebar-col-4.html"
                    >Banner right sidebar 4 column</a
                  >
                </li>
                <li>
                  <a href="shop-banner-full-width.html"
                    >Banner Full width 4 column</a
                  >
                </li>
              </ul>
            </li>
            <li>
              <a href="javascript:void(0)">Columns Variation</a>
              <ul class="sub-menu">
                <li>
                  <a href="shop-full-width-col-3.html">3 Columns full width</a>
                </li>
                <li>
                  <a href="shop-full-width-col-4.html">4 Columns full width</a>
                </li>
                <li>
                  <a href="shop-full-width-col-5.html">5 Columns full width</a>
                </li>
                <li>
                  <a href="shop-full-width-col-6.html">6 Columns full width</a>
                </li>
                <li>
                  <a href="shop-banner-full-width-col-3.html"
                    >Banner 3 Columns</a
                  >
                </li>
              </ul>
            </li>
            <li>
              <a href="javascript:void(0)">List Variation</a>
              <ul class="sub-menu">
                <li>
                  <a href="shop-list-left-sidebar.html">Shop left sidebar</a>
                </li>
                <li>
                  <a href="shop-list-right-sidebar.html">Shop right sidebar</a>
                </li>
                <li>
                  <a href="shop-list-banner-left-sidebar.html"
                    >Banner left sidebar</a
                  >
                </li>
                <li>
                  <a href="shop-list-banner-right-sidebar.html"
                    >Banner right sidebar</a
                  >
                </li>
                <li>
                  <a href="shop-list-full-col-2.html">Full width 2 columns</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <a href="javascript:void(0)">Products</a>
          <ul class="sub-menu">
            <li>
              <a href="product-left-sidebar.html">Product left sidebar</a>
            </li>
            <li>
              <a href="product-right-sidebar.html">Product right sidebar</a>
            </li>
            <li><a href="product-full-width.html">product-full-width</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="javascript:void(0)">Blog</a>
          <ul class="sub-menu">
            <li><a href="blog-left-sidebar.html">Blog left sidebar</a></li>
            <li><a href="blog-right-sidebar.html">Blog right sidebar</a></li>
            <li>
              <a href="blog-detail-left-sidebar.html"
                >Blog detail left sidebar</a
              >
            </li>
            <li>
              <a href="blog-detail-right-sidebar.html"
                >Blog detail right sidebar</a
              >
            </li>
            <li><a href="blog-full-width.html">Blog full width</a></li>
            <li>
              <a href="blog-detail-full-width.html">Blog detail full width</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="javascript:void(0)">Others</a>
          <ul class="sub-menu">
            <li><a href="about-us.html">About Us</a></li>
            <li><a routerLink="/contact">Contact Us</a></li>
            <li><a href="cart.html">Cart</a></li>
            <li><a href="checkout.html">Checkout</a></li>
            <li><a href="compare.html">Compare</a></li>
            <li><a href="faq.html">FAQ</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="register.html">Register</a></li>
            <li><a routerLink="/track-order">Track Order</a></li>
            <li><a href="terms-condition.html">Terms Condition</a></li>
            <li><a routerLink="privacy-policy">Privacy Policy</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="header-res-lan-curr">
      <!-- Social Start -->
      <div class="header-res-social">
        <div class="header-top-social">
          <ul class="mb-0">
            <li class="list-inline-item">
              <a href="#"><i class="msicon msi-facebook"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#"><i class="msicon msi-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#"><i class="msicon msi-instagram"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#"><i class="msicon msi-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Social End -->
    </div>
  </div>
</div>
<!-- Mobile Menu sidebar End -->

<div class="ms-side-menu-overlay" (click)="onCloseMenuSideBar()"></div>
}
