<section class="ms-track padding-tb-30">
    <div class="container">
        <div class="section-title-2">
            <h2 class="ms-title">Track<span> Order</span></h2>
            <p>We delivering happiness and needs, Faster than you can think.</p>
        </div>
        @for (order of userOrders; track order._id) {
            <div class="row p-t-15">
                <div class="container">
                    <div class="ms-track-box">
                        <!-- Details-->
                        <div class="row">
                            <div class="col-md-4 m-b-767">
                                <div class="ms-track-card"><span class="ms-track-title">order #</span><span>{{order._id}}</span></div>
                            </div>
                            <div class="col-md-4 m-b-767">
                                <div class="ms-track-card"><span class="ms-track-title">{{order.name}}</span>
                                    @for (prd of order.products; track prd.productId) {
                                        <div>
                                            <span class="ms-2">
                                                {{prd.name}}
                                            </span>
                                            <span>
                                                #{{prd._id}}
                                            </span>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="col-md-4 m-b-767">
                                <div class="ms-track-card"><span class="ms-track-title">Expected date</span><span>{{currentDate.getFullYear()}} - {{currentDate.getUTCMonth() + 1}} - {{currentDate.getDate()}}</span></div>
                            </div>
                        </div>
                        <!-- Progress-->
                        <div class="ms-steps">
                            <div class="ms-steps-body">
                                <!-- 
                                    ms-step-completed
                                    ms-step-indicator
                                        <i class="fa fa-check" aria-hidden="true"></i>
    
                                 -->
                                <div class="ms-step ">
                                    <span class="">
                                    </span>
                                    <span class="ms-step-icon">
                                        <img src="/assets/img/icons/track-1.svg" class="svg_img" alt="track">
                                    </span>Order<br> {{order.status}}
                                </div>
    
                                <div class="ms-step ">
                                    <span class="">
                                    </span>
                                    <span class="ms-step-icon">
                                        <img src="assets/img/icons/track-2.svg" class="svg_img" alt="track">
                                    </span>Processing<br> order
                                </div>
                                <div class="ms-step ms-step-active">
                                    <span class="ms-step-icon">
                                        <img src="assets/img/icons/track-3.svg" class="svg_img" alt="track">
                                    </span>Quality<br> check
                                </div>
                                <div class="ms-step">
                                    <span class="ms-step-icon">
                                        <img src="assets/img/icons/track-4.svg" class="svg_img" alt="track">
                                    </span>Product<br> dispatched
                                </div>
                                <div class="ms-step">
                                    <span class="ms-step-icon">
                                        <img src="assets/img/icons/track-5.svg" class="svg_img" alt="track">
                                    </span>Product<br> delivered
                                </div>
                            </div>
                            <div class="ms-steps-header">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 5%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>