.ms-open-cat{
    /* overflow: hidden; */
    -webkit-transform: translateX(0) !important;
    transform: translateX(0) !important;
    opacity: 1 !important;
}

.ms-side-cat-overlay {
    display: block;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 16;
}

.ms-category-sidebar {
    font-size: 14px;
    font-weight: 400;
    position: fixed;
    width: 350px;
    height: 100%;
    padding: 30px;
    z-index: 17;
    top: 0;
    left: 0;
    right: auto;
    display: block;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    background-color: #ffffff;
    -webkit-box-shadow: none;
    box-shadow: none;
    overflow: auto;
    opacity: 1;

    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.ms-category-sidebar::-webkit-scrollbar {
    width: 12px !important;
    height: 10px !important;
    padding: 8px !important;
}

.ms-category-sidebar::-webkit-scrollbar-track {
    width: 12px !important;
    background-color: #17181c !important;
    -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0) !important;
}

.ms-category-sidebar::-webkit-scrollbar-thumb {
    background-color: #17181c !important;
    border: 3px solid #fff !important;
}

.ms-category-sidebar::-webkit-scrollbar-thumb:hover {
    background-color: #3e9172 !important;
}

.cat-sidebar {
    margin-bottom: -15px;
    position: sticky;
}

.cat-sidebar .cat-sidebar-box {
    width: 100%;
}

.cat-sidebar .cat-sidebar-box .ms-cat-sidebar-wrap {
    margin-bottom: 30px;
}

.cat-sidebar .cat-sidebar-box .ms-cat-sidebar-wrap .ms-sidebar-res {
    display: none;
}

.cat-sidebar .cat-sidebar-box .ms-cat-sidebar-wrap .ms-sidebar-block .ms-sb-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
}

.cat-sidebar .cat-sidebar-box .ms-cat-sidebar-wrap .ms-sidebar-block .ms-sb-title h3 {
    text-decoration: none;
    color: #444;
    display: block;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 5px;
}

.cat-sidebar .cat-sidebar-box .ms-cat-sidebar-wrap .ms-sidebar-block .ms-sb-title h3 .ms-close {
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 28px;
    color: #ff8585;
}

.cat-sidebar .cat-sidebar-box .ms-cat-sidebar-wrap .ms-sidebar-block .ms-sb-block-content ul {
    margin-bottom: 15px;
}

.cat-sidebar .cat-sidebar-box .ms-cat-sidebar-wrap .ms-sidebar-block .ms-sb-block-content .ms-list {
    padding: 5px 15px;
    border: 1px solid #eee;
    border-radius: 3px;
}

.cat-sidebar .cat-sidebar-box .ms-cat-sidebar-wrap .ms-sidebar-block .ms-sb-block-content li {
    padding: 0;
}

.cat-sidebar .cat-sidebar-box .ms-cat-sidebar-wrap .ms-sidebar-block .ms-sb-block-content li .ms-sidebar-sub-item a {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #777;
    font-size: 14px;
    margin-top: 0;
    line-height: 20px;
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: 0;
    cursor: pointer;
    position: relative;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.cat-sidebar .cat-sidebar-box .ms-cat-sidebar-wrap .ms-sidebar-block .ms-sb-block-content li .ms-sidebar-sub-item a:hover {
    color: #17181c;
}

.cat-sidebar .cat-sidebar-box .ms-cat-sidebar-wrap .ms-sidebar-block .ms-sb-block-content li .ms-sidebar-sub-item a span {
    text-transform: lowercase;
    font-size: 12px;
}

.cat-sidebar .cat-sidebar-box .ms-cat-sidebar-wrap .ms-sidebar-block .ms-sb-block-content li .ms-sidebar-block-item {
    padding: 10px 0;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #777;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 1;
    cursor: pointer;
}

.cat-sidebar .cat-sidebar-box .ms-cat-sidebar-wrap .ms-sidebar-block .ms-sb-block-content li .ms-sidebar-block-item .svg_img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    fill: #3e9172;
}

.cat-sidebar .cat-sidebar-box .ms-cat-sidebar-wrap .ms-sidebar-block .ms-sb-block-content li .ms-sidebar-block-item::after {
    content: "\f067";
    position: absolute;
    right: 0;
    top: 40%;
    font-family: "MsIcons";
    cursor: pointer;
    font-size: 10px;
    color: #777;
    font-weight: 400;
    margin-left: 7px;
}

.cat-sidebar .cat-sidebar-box .ms-cat-sidebar-wrap .ms-sidebar-block .ms-sb-block-content li li {
    padding: 0 0 6px;
}

.cat-sidebar .cat-sidebar-box .ms-cat-sidebar-wrap .ms-sidebar-block .ms-sb-block-content ul ul {
    border-top: 1px solid #eee;
    display: none;
    padding-top: 13px;
    padding-bottom: 3px;
}

.cat-sidebar .cat-sidebar-box .ms-cat-sidebar-wrap .ms-sb-block-content {
    margin-bottom: 0;
    padding: 0;
    border-bottom: none;
}

@media (max-width: 360px) {
    .ms-category-sidebar {
        width: 300px;
    }
}

/*===== Features sideabr css =====*/
.ms-features-sidebar-overlay {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 16;
}

.ms-features-sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background-color: #ffffff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 16;
}

.ms-features-sidebar .tool-title {
    margin-bottom: 15px;
    padding: 15px;
    border-bottom: 1px solid #d9d9d9;
}

.ms-features-sidebar .tool-title h3 {
    line-height: 28px;
    margin: 0;
    font-size: 16px;
    color: #777;
    font-weight: 700;
    text-transform: uppercase;
}

.ms-features-sidebar .ms-tools-sidebar-toggle {
    position: absolute;
    top: 35%;
    right: 252px;
    width: 40px;
    height: 40px;
    background-color: #17181c;
    -webkit-transition: all ease-in 0.3s;
    transition: all ease-in 0.3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 25px;
    z-index: -1;
    text-decoration: none;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.ms-features-sidebar .ms-tools-sidebar-toggle .svg_img {
    width: 25px;
    height: 25px;
}

.ms-features-sidebar .ms-tools-sidebar-toggle .svg_img path {
    fill: #fff;
}

.ms-features-sidebar .ms-features-block {
    padding: 15px;
}

.ms-features-sidebar .ms-features-block .ms-features-title {
    margin-bottom: 10px;
    line-height: 20px;
    font-size: 14px;
    color: #777;
    font-weight: 600;
}

.ms-features-sidebar .ms-features-block ul {
    margin-bottom: -10px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style: none;
}

.ms-features-sidebar .ms-features-block ul li {
    width: 30px;
    height: 30px;
    margin: 0 10px 10px 0;
}

.ms-features-sidebar .ms-features-block ul li a {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 3px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    text-align: center;
    border: 2px solid transparent;
}

.ms-features-sidebar .ms-features-block ul li a.colorcode1 {
    background-color: #3e9172;
}

.ms-features-sidebar .ms-features-block ul li a.colorcode2 {
    background-color: #F2709C;
}

.ms-features-sidebar .ms-features-block ul li a.colorcode3 {
    background-color: #5243a5;
}

.ms-features-sidebar .ms-features-block ul li a.colorcode4 {
    background-color: #435da5;
}

.ms-features-sidebar .ms-features-block ul li a.colorcode5 {
    background-color: #dbd98d;
}

.ms-features-sidebar .ms-features-block ul li a.colorcode6 {
    background-color: #40526c;
}

.ms-features-sidebar .ms-features-block ul li a.colorcode7 {
    background-color: #db98b1;
}

.ms-features-sidebar .ms-features-block ul li a.colorcode8 {
    background-color: #ff8763;
}

.ms-features-sidebar .ms-features-block ul li a.colorcode9 {
    background-color: #ff6d6d;
}

.ms-features-sidebar .ms-features-block ul li.active a {
    border: 2px solid white;
    -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
}

.ms-features-sidebar .ms-features-block .ms-change-mode {
    width: 90px;
    height: 30px;
    margin-bottom: 10px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    white-space: nowrap;
    border-radius: 5px;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
}

.ms-features-sidebar .ms-features-block .ms-change-mode div {
    width: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 30px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-transform: uppercase;
    cursor: pointer;
    color: #ffffff;
    font-size: 12px;
    border-radius: 3px;
    overflow: hidden;
    background: #333;
}

.ms-features-sidebar .ms-features-block .ms-change-mode .ms-mode-switch>* {
    width: 45px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0 10px 0;
}

.ms-features-sidebar .ms-features-block .ms-change-mode .ms-mode-on {
    background: #63b760;
    color: #fff;
    display: none;
}

.ms-features-sidebar .ms-features-block .ms-change-mode .ms-mode-off {
    background: #ff7474;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.ms-features-sidebar .ms-features-block .ms-change-mode.active .ms-mode-on {
    background: #63b760;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.ms-features-sidebar .ms-features-block .ms-change-mode.active .ms-mode-off {
    display: none;
}