<!-- Breadcrumb start -->
<div class="ms-breadcrumb m-b-30">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row ms_breadcrumb_inner">
                    <div class="col-md-6 col-sm-12">
                        <h2 class="ms-breadcrumb-title">Checkout</h2>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <!-- ms-breadcrumb-list start -->
                        <ul class="ms-breadcrumb-list">
                            <li class="ms-breadcrumb-item"><a href="javascript:void(0)" (click)="navigateToHome()">Home</a></li>
                            <li class="ms-breadcrumb-item active">Checkout</li>
                        </ul>
                        <!-- ms-breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb end -->

<!-- Checkout section -->
<section class="ms-checkout-section padding-tb-30">
    <h2 class="d-none">Checkout Page</h2>
    <div class="container">
        <div class="row">
            <div class="ms-checkout-leftside col-lg-8 col-md-12 ">
                <!-- checkout content Start -->
                <div class="ms-checkout-content">
                    <div class="ms-checkout-inner">
                        <div class="ms-checkout-wrap m-b-30">
                            <div class="ms-checkout-block ms-check-new">
                                <h3 class="ms-checkout-title">New Customer</h3>
                                <div class="ms-check-block-content">
                                    <div class="ms-check-subtitle">Checkout Options</div>
                                    <form action="#">
                                        <span class="ms-new-option">
                                            <span>
                                                <input type="radio" id="account1" name="radio-group" checked>
                                                <label for="account1">Register Account</label>
                                            </span>
                                            <span>
                                                <input type="radio" id="account2" name="radio-group">
                                                <label for="account2">Guest Account</label>
                                            </span>
                                        </span>
                                    </form>
                                    <div class="ms-new-desc">By creating an account you will be able to shop faster,
                                        be up to date on an order's status, and keep track of the orders you have
                                        previously made.
                                    </div>
                                    <div class="ms-new-btn"><a href="#" class="ms-btn-2">Continue</a></div>

                                </div>
                            </div>
                            <div class="ms-checkout-block ms-check-login">
                                <h3 class="ms-checkout-title">Returning Customer</h3>
                                <div class="ms-check-login-form">
                                    <form action="#" method="post">
                                        <span class="ms-check-login-wrap">
                                            <label>Email Address</label>
                                            <input type="text" name="name" placeholder="Enter your email address"
                                                required>
                                        </span>
                                        <span class="ms-check-login-wrap">
                                            <label>Password</label>
                                            <input type="password" name="password" placeholder="Enter your password"
                                                required>
                                        </span>

                                        <span class="ms-check-login-wrap ms-check-login-btn">
                                            <button class="ms-btn-2" type="submit">Login</button>
                                            <a class="ms-check-login-fp" href="#">Forgot Password?</a>
                                        </span>
                                    </form>
                                </div>
                            </div>

                        </div>
                        <div class="ms-checkout-wrap m-b-30 padding-bottom-3">
                            <div class="ms-checkout-block ms-check-bill">
                                <h3 class="ms-checkout-title">Billing Details</h3>
                                <div class="ms-bl-block-content">
                                    <div class="ms-check-subtitle">Checkout Options</div>
                                    <span class="ms-bill-option">
                                        <span>
                                            <input type="radio" id="bill1" name="radio-group">
                                            <label for="bill1">I want to use an existing address</label>
                                        </span>
                                        <span>
                                            <input type="radio" id="bill2" name="radio-group" checked>
                                            <label for="bill2">I want to use new address</label>
                                        </span>
                                    </span>
                                    <div class="ms-check-bill-form">
                                        <form action="#" method="post">
                                            <span class="ms-bill-wrap ms-bill-half">
                                                <label>First Name*</label>
                                                <input type="text" name="firstname" placeholder="Enter your first name"
                                                    required>
                                            </span>
                                            <span class="ms-bill-wrap ms-bill-half">
                                                <label>Last Name*</label>
                                                <input type="text" name="lastname" placeholder="Enter your last name"
                                                    required>
                                            </span>
                                            <span class="ms-bill-wrap">
                                                <label>Address</label>
                                                <input type="text" name="address" placeholder="Address Line 1">
                                            </span>
                                            <span class="ms-bill-wrap ms-bill-half">
                                                <label>City *</label>
                                                <span class="ms-bl-select-inner">
                                                    <select name="ms_select_city" id="ms-select-city"
                                                        class="ms-bill-select">
                                                        <option selected disabled>City</option>
                                                        <option value="1">City 1</option>
                                                        <option value="2">City 2</option>
                                                        <option value="3">City 3</option>
                                                        <option value="4">City 4</option>
                                                        <option value="5">City 5</option>
                                                    </select>
                                                </span>
                                            </span>
                                            <span class="ms-bill-wrap ms-bill-half">
                                                <label>Post Code</label>
                                                <input type="text" name="postalcode" placeholder="Post Code">
                                            </span>
                                            <span class="ms-bill-wrap ms-bill-half">
                                                <label>Country *</label>
                                                <span class="ms-bl-select-inner">
                                                    <select name="ms_select_country" id="ms-select-country"
                                                        class="ms-bill-select">
                                                        <option selected disabled>Country</option>
                                                        <option value="1">Country 1</option>
                                                        <option value="2">Country 2</option>
                                                        <option value="3">Country 3</option>
                                                        <option value="4">Country 4</option>
                                                        <option value="5">Country 5</option>
                                                    </select>
                                                </span>
                                            </span>
                                            <span class="ms-bill-wrap ms-bill-half">
                                                <label>Region State</label>
                                                <span class="ms-bl-select-inner">
                                                    <select name="ms_select_state" id="ms-select-state"
                                                        class="ms-bill-select">
                                                        <option selected disabled>Region/State</option>
                                                        <option value="1">Region/State 1</option>
                                                        <option value="2">Region/State 2</option>
                                                        <option value="3">Region/State 3</option>
                                                        <option value="4">Region/State 4</option>
                                                        <option value="5">Region/State 5</option>
                                                    </select>
                                                </span>
                                            </span>
                                        </form>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <span class="ms-check-order-btn">
                            <a class="ms-btn-2" href="#">Place Order</a>
                        </span>
                    </div>
                </div>
                <!--cart content End -->
            </div>
            <!-- Sidebar Area Start -->
            <div class="ms-checkout-rightside col-lg-4 col-md-12 m-t-991">
                <div class="ms-sidebar-wrap">
                    <!-- Sidebar Summary Block -->
                    <div class="ms-sidebar-block">
                        <div class="ms-sb-title">
                            <h3 class="ms-sidebar-title">Summary</h3>
                        </div>
                        <div class="ms-sb-block-content">
                            <div class="ms-checkout-summary">
                                <div>
                                    <span class="text-left">Sub-Total</span>
                                    <span class="text-right">$80.00</span>
                                </div>
                                <div>
                                    <span class="text-left">Delivery Charges</span>
                                    <span class="text-right">$80.00</span>
                                </div>
                                <div>
                                    <span class="text-left">Coupan Discount</span>
                                    <span class="text-right"><a class="ms-checkout-coupan">Apply Coupan</a></span>
                                </div>
                                <div class="ms-checkout-coupan-content">
                                    <form class="ms-checkout-coupan-form" name="ms-checkout-coupan-form" method="post"
                                        action="#">
                                        <input class="ms-coupan" type="text" required=""
                                            placeholder="Enter Your Coupan Code" name="ms-coupan" value="">
                                        <button class="ms-coupan-btn ms-btn-2" type="submit" name="subscribe"
                                            value="">Apply</button>
                                    </form>
                                </div>
                                <div class="ms-checkout-summary-total">
                                    <span class="text-left">Total Amount</span>
                                    <span class="text-right">$80.00</span>
                                </div>
                            </div>
                            <div class="ms-checkout-pro">
                                <div class="col-sm-12 mb-6">
                                    <div class="ms-product-inner">
                                        <div class="ms-pro-image-outer">
                                            <div class="ms-pro-image">
                                                <a href="product-left-sidebar.html" class="image">
                                                    <img class="main-image" src="assets/img/product-images/2_1.jpg"
                                                        alt="Product">
                                                    <img class="hover-image" src="assets/img/product-images/2_2.jpg"
                                                        alt="Product">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="ms-pro-content">
                                            <h5 class="ms-pro-title"><a href="product-left-sidebar.html">Dates Value
                                                    Pack Pouch</a></h5>
                                            <div class="ms-pro-rating">
                                                <i class="msicon msi-star fill"></i>
                                                <i class="msicon msi-star fill"></i>
                                                <i class="msicon msi-star fill"></i>
                                                <i class="msicon msi-star fill"></i>
                                                <i class="msicon msi-star"></i>
                                            </div>
                                            <span class="ms-price">
                                                <span class="old-price">$95.00</span>
                                                <span class="new-price">$79.00</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 mb-0">
                                    <div class="ms-product-inner">
                                        <div class="ms-pro-image-outer">
                                            <div class="ms-pro-image">
                                                <a href="product-left-sidebar.html" class="image">
                                                    <img class="main-image" src="assets/img/product-images/8_1.jpg"
                                                        alt="Product">
                                                    <img class="hover-image" src="assets/img/product-images/8_2.jpg"
                                                        alt="Product">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="ms-pro-content">
                                            <h5 class="ms-pro-title"><a href="product-left-sidebar.html">Smoked Honey
                                                    Spiced Nuts</a></h5>
                                            <div class="ms-pro-rating">
                                                <i class="msicon msi-star fill"></i>
                                                <i class="msicon msi-star fill"></i>
                                                <i class="msicon msi-star fill"></i>
                                                <i class="msicon msi-star fill"></i>
                                                <i class="msicon msi-star"></i>
                                            </div>
                                            <span class="ms-price">
                                                <span class="old-price">$58.00</span>
                                                <span class="new-price">$45.00</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Sidebar Summary Block -->
                </div>
                <div class="ms-sidebar-wrap ms-checkout-del-wrap">
                    <!-- Sidebar Summary Block -->
                    <div class="ms-sidebar-block">
                        <div class="ms-sb-title">
                            <h3 class="ms-sidebar-title">Delivery Method</h3>
                        </div>
                        <div class="ms-sb-block-content">
                            <div class="ms-checkout-del">
                                <div class="ms-del-desc">Please select the preferred shipping method to use on this
                                    order.</div>
                                <form action="#">
                                    <span class="ms-del-option">
                                        <span>
                                            <span class="ms-del-opt-head">Free Shipping</span>
                                            <input type="radio" id="del1" name="radio-group" checked>
                                            <label for="del1">Rate - $0 .00</label>
                                        </span>
                                        <span>
                                            <span class="ms-del-opt-head">Flat Rate</span>
                                            <input type="radio" id="del2" name="radio-group">
                                            <label for="del2">Rate - $5.00</label>
                                        </span>
                                    </span>
                                    <span class="ms-del-commemt">
                                        <span class="ms-del-opt-head">Add Comments About Your Order</span>
                                        <textarea name="your-commemt" placeholder="Comments"></textarea>
                                    </span>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Sidebar Summary Block -->
                </div>
                <div class="ms-sidebar-wrap ms-checkout-pay-wrap">
                    <!-- Sidebar Payment Block -->
                    <div class="ms-sidebar-block">
                        <div class="ms-sb-title">
                            <h3 class="ms-sidebar-title">Payment Method</h3>
                        </div>
                        <div class="ms-sb-block-content">
                            <div class="ms-checkout-pay">
                                <div class="ms-pay-desc">Please select the preferred payment method to use on this
                                    order.</div>
                                <form action="#">
                                    <span class="ms-pay-option">
                                        <span>
                                            <input type="radio" id="pay1" name="radio-group" checked>
                                            <label for="pay1">Cash On Delivery</label>
                                        </span>
                                    </span>
                                    <span class="ms-pay-commemt">
                                        <span class="ms-pay-opt-head">Add Comments About Your Order</span>
                                        <textarea name="your-commemt" placeholder="Comments"></textarea>
                                    </span>
                                    <span class="ms-pay-agree"><input type="checkbox" value=""><a href="#">I have
                                            read and agree to the <span>Terms & Conditions.</span></a><span
                                            class="checked"></span></span>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Sidebar Payment Block -->
                </div>
                <div class="ms-sidebar-wrap ms-check-pay-img-wrap">
                    <!-- Sidebar Payment Block -->
                    <div class="ms-sidebar-block">
                        <div class="ms-sb-title">
                            <h3 class="ms-sidebar-title">Payment Method</h3>
                        </div>
                        <div class="ms-sb-block-content">
                            <div class="ms-check-pay-img-inner">
                                <div class="ms-check-pay-img">
                                    <img src="assets/img/hero-bg/payment.png" alt="payment">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Sidebar Payment Block -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Checkout section End -->