.container {
    padding: 20px;
}
  .img-fluid {
    max-width: 100%;
}
.carousel-image {
  width: 100%;
  height: 300px; /* Adjust the desired height */
  object-fit: cover;
  border-radius: 10px;
}
.rating-value {
  margin-left: 5px;
  font-weight: bold;
}
.ms-single-price-stoke {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.ms-single-price {
  margin-bottom: 10px;
}

.mrp {
  color: gray;
}

.ms-single-stoke {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
}

.ms-single-sku,
.ms-single-ps-title {
  margin-right: 10px;
}

.ms-single-price-stoke,
.ms-single-stoke {
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .ms-single-qty {
    display: flex;
    flex-direction: column;
  }
}