<section class="ms-single-product padding-b-30">
  <div class="container">
    <div class="row">
      <div
        class="ms-pro-rightside ms-common-rightside col-lg-9 order-lg-last col-md-12 order-md-first">
        <div class="single-pro-block">
          <div class="single-pro-inner">
            <div class="row">
              <div class="single-pro-img">
                <div class="col-md-12">
                  <div
                    id="productImageCarousel"
                    class="carousel slide"
                    data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div
                        *ngFor="let image of product.images; let i = index"
                        class="carousel-item"
                        [ngClass]="{ active: i === 0 }">
                        <img
                          [src]="image"
                          class="img-fluid carousel-image"
                          [alt]="'Product Image ' + (i + 1)"/>
                      </div>
                    </div>
                    <button
                      class="carousel-control-prev"
                      type="button"
                      data-bs-target="#productImageCarousel"
                      data-bs-slide="prev">
                      <span
                        class="carousel-control-prev-icon"
                        aria-hidden="true"
                      ></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button
                      class="carousel-control-next"
                      type="button"
                      data-bs-target="#productImageCarousel"
                      data-bs-slide="next"
                    >
                      <span
                        class="carousel-control-next-icon"
                        aria-hidden="true"
                      ></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="single-pro-desc m-t-991">
                <div class="single-pro-content">
                  <h5 class="ms-single-title">{{ product.name }}</h5>
                  <div class="ms-single-rating-wrap">
                    <div class="ms-single-rating">
                      <ng-container *ngFor="let star of filledStarsArray">
                        <i class="msicon msi-star fill"></i>
                      </ng-container>

                      <ng-container *ngFor="let star of emptyStarsArray">
                        <i class="msicon msi-star-o"></i>
                      </ng-container>
                      <span class="rating-value"
                        >({{ product.star/product.numberOfRates }} of 5 Stars)</span
                      >
                    </div>
                    <span class="ms-read-review" (click)="scrollToReviews()">
                      |&nbsp;&nbsp;<a>{{ product.numberOfRates }} Ratings</a>
                    </span>
                  </div>
                  <div class="ms-single-price-stoke">
                    @if(product.discount > 0){
                    <div class="ms-single-price">
                      <div class="final-price">
                        £{{ product.price - product.price * (product.discount/100)
                        }}<span class="price-des"
                          >-{{ product.discount }}%</span
                        >
                      </div>
                      <div class="mrp">
                        P.B.S. : <span>£{{ product.price }}</span>
                      </div>
                    </div>
                    } @else {
                    <div class="ms-single-price">
                      <div class="final-price">£{{ product.price }}</div>
                    </div>
                    }
                    <div class="ms-single-stoke">
                      <div>
                        <span class="ms-single-sku"
                          >{{ product.quantity }} Pieces Left</span
                        >
                      </div>
                      <div>
                        <span class="ms-single-ps-title" style="margin-top: 6px"
                          >IN STOCK</span
                        >
                      </div>
                    </div>
                    <div class="ms-single-stoke">
                      <span class="ms-single-sku"
                        >Category:
                        <a
                          [routerLink]="[
                            '/category',
                            product.cat[0] | lowercase
                          ]"
                          >{{ product.cat[0] }}</a
                        ></span
                      >
                    </div>
                  </div>
                  <div class="ms-single-qty">
                    <div class="qty-plus-minus">
                      <input
                        class="qty-input"
                        type="text"
                        name="ms_qtybtn"
                        value="1"
                      />
                    </div>
                    <div class="ms-single-cart">
                      <button class="btn btn-primary ms-btn-2" (click)="updateCartProducts(product)">
                        Add To Cart
                      </button>
                    </div>
                    <div class="ms-single-wishlist">
                      <a class="ms-btn-group wishlist" title="Wishlist" (click)="updateWishListProducts(product)">
                        <img
                          src="assets/img/icons/wishlist.svg"
                          class="svg_img pro_svg"
                          alt=""
                        />
                      </a>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="ms-single-pro-tab">
          <div class="ms-single-pro-tab-wrapper">
            <div class="ms-single-pro-tab-nav">
              <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    data-bs-toggle="tab"
                    data-bs-target="#ms-spt-nav-details"
                    role="tab"
                    type="button"
                    aria-controls="ms-spt-nav-details"
                    aria-selected="true"
                    >Detail</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    data-bs-toggle="tab"
                    data-bs-target="#ms-spt-nav-review"
                    role="tab"
                    aria-controls="ms-spt-nav-review"
                    aria-selected="true"
                    >Reviews</a
                  >
                </li>
              </ul>
            </div>
            <div class="tab-content ms-single-pro-tab-content">
              <div id="ms-spt-nav-details" class="tab-pane fade show active">
                <div class="ms-single-pro-tab-desc">
                  <p>{{ product.desc }}</p>
                </div>
              </div>
              <div id="ms-spt-nav-review" class="tab-pane fade">
                <app-product-reviews></app-product-reviews>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<app-related-products></app-related-products>
