<div class="payment-card">
  <div class="payment-method">
    <h3>Choose address: </h3>
    <select (change)="selectAddress($event)">
      <option value="" disabled selected>Select address</option>
      @for (add of userData.address; track userId) {
        <option value="{{add}}">{{add}}</option>
      }
    </select>
  </div>
  <div class="payment-method">
    <h3>Choose Payment Method:</h3>
    <select (change)="selectPaymentMethod($event)">
      <option value="" disabled selected>Select Payment Method</option>
      <option value="creditCard">Card</option>
      <option value="cashOnDelivery">Cash on Delivery</option>
      <!-- Add more payment methods as needed -->
    </select>
  </div>
  
  <div *ngIf="selectedMethod" class="selected-method">
    <p>You have selected <strong>{{ selectedMethod }}</strong> as your payment method.</p>
    <p>Price: <strong>{{ totalAmount }}</strong> L.E</p>
    <p>Shipping: <strong>{{ shippingCost }}</strong> L.E</p>
    @if(cashOnDelivery){
        <p class="validation">Cash On Delivery: <b>10</b> L.E</p>
      }
    <hr>
    <p>Total Price: <strong>{{ totalPrice }}</strong> L.E</p>
    <br>
    @if(cashOnDelivery){
        <button class="proceed-button" (click)="createOrder()">Proceed</button>
      }
    @if(!cashOnDelivery){
            <!-- Main Credit Card Number Input -->
        <button class="proceed-button-credit" (click)="getPaymentFrame()">Proceed</button>
      }
    <br>
  </div>
</div>
