<div class="container">
    <div class="row">
        <div class="col-12">
            <button class="btn btn-primary my-3" (click)="toggleSort()">Sort by Price: {{btnSortToggle}}</button>
            <div class="d-flex flex-wrap row bg-dark">
                @for (prd of products; track prd._id) {
                <div class="card mb-4 col-sm-4">
                    <img [src]="prd.images[0]" class="card-img-top" alt="{{ prd.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ prd.name }}</h5>
                        <p class="card-text">${{ prd.price }}</p>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>