<!-- Header start  -->
<header class="ms-header">
  <!-- Header Top Start -->
  <div class="header-top">
    <div class="container">
      <div class="row align-items-center">
        <!-- Header Top social Start -->
        <div class="col text-left header-top-left d-none d-lg-block">
          <div class="header-top-social">
            <ul class="mb-0">
              <li class="list-inline-item">
                <a target="_blank" href=""><i class="msicon msi-phone"></i></a
                >+20 123 456 7891
              </li>
              <li class="list-inline-item">
                <a><i class="msicon msi-whatsapp"></i></a>+201234567891
              </li>
            </ul>
          </div>
        </div>
        <!-- Header Top social End -->
        <!-- Header Top Message Start -->
        <div class="col text-center header-top-center">
          <div class="header-top-message">
            World's Fastest Online Shopping Destination
          </div>
        </div>
        <!-- Header Top Message End -->
        <!-- Header Top Language Currency -->
        <div class="col header-top-right d-none d-lg-block">
          <div class="header-top-right-inner d-flex justify-content-end">
            <!-- Language Start -->
            <div class="header-top-lan-curr header-top-lan dropdown">
              <button class="dropdown-toggle" data-bs-toggle="dropdown">
                English <i class="msicon msi-angle-down" aria-hidden="true"></i>
              </button>
              <ul class="dropdown-menu">
                <li class="active">
                  <a class="dropdown-item">English</a>
                </li>
                <li><a class="dropdown-item">Italiano</a></li>
              </ul>
            </div>
            <!-- Language End -->
            <!-- Currency Start -->
            <div class="header-top-lan-curr header-top-curr dropdown">
              <button class="dropdown-toggle" data-bs-toggle="dropdown">
                Egyptian Pound
                <i class="msicon msi-angle-down" aria-hidden="true"></i>
              </button>
              <ul class="dropdown-menu">
                <li class="active">
                  <a class="dropdown-item">USD $</a>
                </li>
                <li><a class="dropdown-item">EUR €</a></li>
              </ul>
            </div>
            <!-- Currency End -->
            <a class="ms-help">Help?</a>
            <a class="ms-help" routerLink="/track-order">Track Order?</a>
          </div>
        </div>
        <!-- Header Top Language Currency -->
        <!-- Header Top responsive Action -->
        <div class="col header-top-res d-lg-none">
          <div class="ms-header-bottons">
            <!-- Category Toggle -->
            <div class="col ms-category-icon-block">
              <div class="ms-category-menu">
                <div class="ms-category-toggle">
                  <img
                    src="assets/img/icons/category-icon.svg"
                    class="svg_img header_svg svg_cat"
                    alt="icon"
                  />
                </div>
              </div>
            </div>
            <div class="right-icons">
              <!-- Header User Start -->
              <a href="login.html" class="ms-header-btn ms-header-user">
                <div class="header-icon">
                  <img
                    src="assets/img/icons/user.svg"
                    class="svg_img header_svg"
                    alt=""
                  />
                </div>
              </a>
              <!-- Header User End -->
              <!-- Header Wishlist Start -->
              <a href="javascript:void(0)" class="ms-header-btn ms-wish-toggle">
                <div class="header-icon">
                  <img
                    src="assets/img/icons/wishlist.svg"
                    class="svg_img header_svg"
                    alt=""
                  />
                </div>
                <span class="ms-header-count ms-wishlist-count">3</span>
              </a>
              <!-- Header Wishlist End -->
              <!-- Header Cart Start -->
              <a routerLink="cart" class="ms-header-btn ms-cart-toggle">
                <div class="header-icon">
                  <img
                    src="assets/img/icons/pro_cart.svg"
                    class="svg_img header_svg"
                    alt=""
                  />
                  <span class="main-label-note-new"></span>
                </div>
                <span class="ms-header-count ms-cart-count">3</span>
              </a>
              <!-- Header Cart End -->
            </div>
          </div>
        </div>
        <!-- Header Top responsive Action -->
      </div>
    </div>
  </div>
  <!-- Header Top  End -->

  <!-- Header Bottom  Start -->
  <div class="ms-header-bottom d-none d-lg-block">
    <div class="container position-relative">
      <div class="row">
        <div class="ms-flex">
          <!-- Header Logo Start -->
          <div class="align-self-center ms-header-logo">
            <div class="header-logo">
              <a href="index.html"
                ><img
                  src="assets/img/logo/logo_transparent.png"
                  alt="Site Logo"
              /></a>
            </div>
          </div>
          <!-- Header Logo End -->

          <!-- Header Search Start -->
          <div class="align-self-center ms-header-search">
            <div class="header-search">
              <form class="ms-search-group-form" action="#">
                <input
                  class="form-control ms-search-bar"
                  placeholder="Search Products..."
                  type="text"
                />
                <button class="search_submit" type="submit">
                  <img
                    src="assets/img/icons/search.svg"
                    class="svg_img search_svg"
                    alt=""
                  />
                </button>
              </form>
            </div>
          </div>
          <!-- Header Search End -->

          <!-- Header Button Start -->
          <div class="align-self-center">
            <div class="ms-header-bottons">
              <!-- Header User Start -->
              <div class="ms-acc-drop">
                <a
                  href="javascript:void(0)"
                  class="ms-header-btn ms-header-user dropdown-toggle ms-user-toggle"
                  title="Account"
                >
                  <div class="header-icon">
                    <img
                      src="assets/img/icons/user.svg"
                      class="svg_img header_svg"
                      alt=""
                    />
                  </div>
                  <div class="ms-btn-desc">
                    <span class="ms-btn-title">Account</span>
                    <span class="ms-btn-stitle">Login</span>
                  </div>
                </a>
                <ul class="ms-dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="register">Register</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="checkout.html">Checkout</a>
                  </li>
                  <li><a class="dropdown-item" href="login">Login</a></li>
                </ul>
              </div>
              <!-- Header User End -->
              <!-- Header wishlist Start -->
              <a
                (click)="openWishlistSidebar()"
                href="javascript:void(0)"
                class="ms-header-btn ms-wish-toggle"
                title="Wishlist"
              >
                <div class="header-icon">
                  <img
                    src="assets/img/icons/wishlist.svg"
                    class="svg_img header_svg"
                    alt=""
                  />
                </div>
                <div class="ms-btn-desc">
                  <span class="ms-btn-title">Wishlist</span>
                  <span class="ms-btn-stitle"
                    ><b class="ms-wishlist-count">3</b>-items</span
                  >
                </div>
              </a>
              <!-- Header wishlist End -->

              <!-- Header Cart Start -->
              <a
                (click)="openCartSidebar()"
                href="javascript:void(0)"
                class="ms-header-btn ms-cart-toggle"
                title="Cart"
              >
                <div class="header-icon">
                  <img
                    src="assets/img/icons/cart_5.svg"
                    class="svg_img header_svg"
                    alt=""
                  />
                  <span class="main-label-note-new"></span>
                </div>
                <div class="ms-btn-desc">
                  <span class="ms-btn-title">Cart</span>
                  <span class="ms-btn-stitle"
                    ><b class="ms-cart-count">3</b>-items</span
                  >
                </div>
              </a>
              <!-- Header Cart End -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header Button End -->

  <!-- Header menu -->
  <div class="ms-header-cat d-none d-lg-block">
    <div class="container position-relative">
      <div class="row justify-content-between">
        <!-- Category Toggle -->
        <div class="col ms-category-icon-block">
          <div class="ms-category-menu">
            <div class="ms-category-toggle" (click)="openCategorySidebar()">
              <img
                src="assets/img/icons/category-icon.svg"
                class="svg_img header_svg svg_cat"
                alt="icon"
              />
            </div>
          </div>
        </div>

        <!-- Main Menu Start -->
        <div id="ms-main-menu-desk" class="d-none d-lg-block sticky-nav">
          <div class="position-relative nav-desk">
            <div class="row">
              <div class="col-md-12 align-self-center">
                <div class="ms-main-menu">
                  <ul>
                    <li class="non-drop"><a routerLink="/home">Home</a></li>
                    <li class="dropdown drop-list position-static">
                      <a href="javascript:void(0)" class="dropdown-arrow"
                        >Categories<i class="msicon msi-angle-right"></i
                      ></a>
                      <ul class="mega-menu d-block">
                        <li class="d-flex">
                          <span class="bg"></span>
                          <ul class="d-block">
                            <li class="menu_title">
                              <a href="javascript:void(0)">Classic</a>
                            </li>
                            <li>
                              <a href="shop-left-sidebar-col-3.html"
                                >Left sidebar 3 column</a
                              >
                            </li>
                            <li>
                              <a href="shop-left-sidebar-col-4.html"
                                >Left sidebar 4 column</a
                              >
                            </li>
                            <li>
                              <a href="shop-right-sidebar-col-3.html"
                                >Right sidebar 3 column</a
                              >
                            </li>
                            <li>
                              <a href="shop-right-sidebar-col-4.html"
                                >Right sidebar 4 column</a
                              >
                            </li>
                            <li>
                              <a href="shop-full-width.html"
                                >Full width 4 column</a
                              >
                            </li>
                          </ul>
                          <ul class="d-block">
                            <li class="menu_title">
                              <a href="javascript:void(0)">Banner</a>
                            </li>
                            <li>
                              <a href="shop-banner-left-sidebar-col-3.html"
                                >left sidebar 3 column</a
                              >
                            </li>
                            <li>
                              <a href="shop-banner-left-sidebar-col-4.html"
                                >left sidebar 4 column</a
                              >
                            </li>
                            <li>
                              <a href="shop-banner-right-sidebar-col-3.html"
                                >right sidebar 3 column</a
                              >
                            </li>
                            <li>
                              <a href="shop-banner-right-sidebar-col-4.html"
                                >right sidebar 4 column</a
                              >
                            </li>
                            <li>
                              <a href="shop-banner-full-width.html"
                                >Full width 4 column</a
                              >
                            </li>
                          </ul>
                          <ul class="d-block">
                            <li class="menu_title">
                              <a href="javascript:void(0)">Columns</a>
                            </li>
                            <li>
                              <a href="shop-full-width-col-3.html"
                                >3 Columns full width</a
                              >
                            </li>
                            <li>
                              <a href="shop-full-width-col-4.html"
                                >4 Columns full width</a
                              >
                            </li>
                            <li>
                              <a href="shop-full-width-col-5.html"
                                >5 Columns full width</a
                              >
                            </li>
                            <li>
                              <a href="shop-full-width-col-6.html"
                                >6 Columns full width</a
                              >
                            </li>
                            <li>
                              <a href="shop-banner-full-width-col-3.html"
                                >Banner 3 Columns</a
                              >
                            </li>
                          </ul>
                          <ul class="d-block">
                            <li class="menu_title">
                              <a href="javascript:void(0)">List</a>
                            </li>
                            <li>
                              <a href="shop-list-left-sidebar.html"
                                >Shop left sidebar</a
                              >
                            </li>
                            <li>
                              <a href="shop-list-right-sidebar.html"
                                >Shop right sidebar</a
                              >
                            </li>
                            <li>
                              <a href="shop-list-banner-left-sidebar.html"
                                >Banner left sidebar</a
                              >
                            </li>
                            <li>
                              <a href="shop-list-banner-right-sidebar.html"
                                >Banner right sidebar</a
                              >
                            </li>
                            <li>
                              <a href="shop-list-full-col-2.html"
                                >Full width 2 columns</a
                              >
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <!-- Products -->
                    <li class="dropdown drop-list">
                      <a href="/discoverAll/" class="dropdown-arrow"
                        >Products</a
                      >
                    </li>
                    <!-- Others -->
                    <li class="dropdown drop-list">
                      <a href="javascript:void(0)" class="dropdown-arrow"
                        >Others<i class="msicon msi-angle-right"></i
                      ></a>
                      <ul class="sub-menu">
                        <li><a routerLink="/about">About Us</a></li>
                        <li><a routerLink="/contact">Contact Us</a></li>
                        <li><a routerLink="cart">Cart</a></li>
                        <li><a href="checkout">Checkout</a></li>
                        <li><a href="faq.html">FAQ</a></li>
                        <li><a href="login">Login</a></li>
                        <li><a href="register">Register</a></li>
                        <li><a routerLink="/track-order">Track Order</a></li>
                        <li>
                          <a routerLink="/terms-condition">Terms Condition</a>
                        </li>
                        <li>
                          <a routerLink="privacy-policy">Privacy Policy</a>
                        </li>
                      </ul>
                    </li>
                    <!-- Discover -->
                    <li class="non-drop">
                      <a href="/discoverAll"
                        ><img
                          src="assets/img/icons/discover.svg"
                          class="svg_img"
                          alt="discover"
                        />Discover</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Main Menu End -->

        <div class="col ms-location-block">
          <div class="ms-location-menu">
            <div class="ms-location-toggle">
              <img
                src="assets/img/icons/location.svg"
                class="svg_img header_svg svg_loc"
                alt="icon"
              />
              <span
                class="ms-location-title d-1199 ms-location"
                id="ms_location"
              ></span>
              <i class="msicon msi-angle-down d-1199" aria-hidden="true"></i>
            </div>
            <div class="ms-location-content">
              <div class="ms-location-dropdown">
                <div class="row ms-location-wrapper">
                  <ul class="loc-grid">
                    <li class="loc-list current">
                      <img
                        src="assets/img/icons/location.svg"
                        class="svg_img header_svg svg_loc"
                        alt="icon"
                      /><span class="ms-detail-current">current Location</span>
                    </li>
                    <li class="loc-list">
                      <img
                        src="assets/img/icons/location.svg"
                        class="svg_img header_svg svg_loc"
                        alt="icon"
                      /><span class="ms-detail">rajkot, in</span>
                    </li>
                    <li class="loc-list">
                      <img
                        src="assets/img/icons/location.svg"
                        class="svg_img header_svg svg_loc"
                        alt="icon"
                      /><span class="ms-detail">Mountain View, us</span>
                    </li>
                    <li class="loc-list">
                      <img
                        src="assets/img/icons/location.svg"
                        class="svg_img header_svg svg_loc"
                        alt="icon"
                      /><span class="ms-detail">Birmingham, UK</span>
                    </li>
                    <li class="loc-list">
                      <img
                        src="assets/img/icons/location.svg"
                        class="svg_img header_svg svg_loc"
                        alt="icon"
                      /><span class="ms-detail">Jakarta, id</span>
                    </li>
                    <li class="loc-list">
                      <img
                        src="assets/img/icons/location.svg"
                        class="svg_img header_svg svg_loc"
                        alt="icon"
                      /><span class="ms-detail">lima, pe</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header menu End -->

  <!-- Header responsive Bottom  Start -->
  <div class="ms-header-bottom d-lg-none">
    <div class="container position-relative">
      <div class="row">
        <div class="ms-flex">
          <!-- Header Logo Start -->
          <div class="col ms-header-logo">
            <div class="header-logo">
              <a href="/">
                <img
                  src="assets/img/logo/logo_transparent.png"
                  alt="Site Logo"
                />
              </a>
            </div>
          </div>
          <!-- Header Logo End -->
          <!-- Header menu Start -->
          <a
            href="javascript:void(0)"
            class="ms-header-btn ms-site-menu-icon d-lg-none"
            (click)="togelMenuSideBar()"
          >
            <img src="assets/img/icons/menu.svg" class="svg_img" alt="menu" />
          </a>
          <!-- Header menu End -->
        </div>
      </div>
    </div>
  </div>
  <!-- Header responsive Bottom  End -->
</header>
<!-- Header End  -->

<app-side-bar-cart
  [isCartSidebarVisible]="isCartSidebarVisible"
  (closeCartSidebar)="onCloseCartSidebar()"
>
</app-side-bar-cart>

<app-side-bar-category
  [isCategorySidebarVisible]="isCategorySidebarVisible"
  (closeCategorySidebar)="onCloseCategorySidebar()"
>
</app-side-bar-category>

<app-side-bar-wishlist
  [isWishlistSidebarVisible]="isWishlistSidebarVisible"
  (closeWishlistSidebar)="onCloseWishlistSidebar()"
>
</app-side-bar-wishlist>

<app-side-bar-menu
  [isMenuSideBarVisible]="isMenuSideBarVisible"
  (closeMenuSideBar)="togelMenuSideBar()"
>
</app-side-bar-menu>
