<div class="container my-5">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="display-4 mb-4">About Us</h1>
        <p class="lead">This gift store web application was developed by a talented team of ITI students from the mobile cross-platform track using Angular, NodeJS, and MongoDB.</p>
      </div>
    </div>
    <div class="row text-center mt-5">
      @for (member of members; track $index) {
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">{{member}}</h5>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
  
