
@if(isCartSidebarVisible){
    
    <div id="ms-side-cart" class="ms-side-cart  ms-open-cart">
        <div class="ms-cart-inner">
            <div class="ms-cart-top">
                <div class="ms-cart-title">
                    <span class="cart_title">My Cart</span>
                    <a (click)="onCloseCartSidebar()" href="javascript:void(0)" class="ms-cart-close"><img src="assets/img/icons/close.svg"
                            class="svg_img pro_svg" alt="close"></a>
                </div>
                <ul class="ms-cart-pro-items">
                    @for(item of cartItems; track item._id){
                        <li>
                            <a [routerLink]="'/products/' + item._id" class="ms-pro-img"><img src="{{item.image}}"
                                    alt="product"></a>
                            <div class="ms-pro-content">
                                <a [routerLink]="'/products/' + item._id"class="cart-pro-title">{{item.name}}</a>
                                <span class="cart-L.E{{item.price}}price"></span>
                                <div class="qty-plus-minus">
                                    <input class="qty-input" type="text" name="ms-qtybtn" value="{{item.soldQuantity}}">
                                </div>
                                <a href="javascript:void(0)" (click)="removeFromCart(item, $event)" class="remove">×</a>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <div class="ms-cart-bottom">
                <div class="cart-sub-total">
                    <table class="table cart-table">
                        <tbody>
                            <tr>
                                <td class="text-left">Total :</td>
                                <td class="text-right primary-color">L.E{{totalAmount}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="cart_btn">
                    <a routerLink="cart" (click)="onCloseCartSidebar()" class="ms-btn-1">View Cart</a>
                    <a routerLink="checkout" (click)="onCloseCartSidebar()" class="ms-btn-2">Checkout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart sidebar End -->
    <div class="ms-side-cart-overlay" (click)="onCloseCartSidebar()"></div>
}