<div *ngIf="currentPage === 1" class="container">
  <form (ngSubmit)="nextPage()" #registerForm="ngForm" class="loginForm card">
      <div class="card-header">
        Register [Page 1/2]
      </div>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required minlength="3" [(ngModel)]="userData.name" class="form-control">
      @if(nameNotValid){
        <p class="validation">Name should atleast have 3 characters !</p>
      }
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required email [(ngModel)]="userData.email" class="form-control">
      @if(emailNotValid){
        <p class="validation">Email is not in correct format !</p>
      }
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required minlength="8" [(ngModel)]="userData.password" class="form-control">
      @if(passwordNotValid){
        <p class="validation">Password should atleast have 8 characters !</p>
      }
    </div>
    <div class="form-group">
      <label>Gender:</label><br><br>
      <label><input type="radio" name="gender" value="male" [(ngModel)]="userData.gender"> Male</label>
      <label><input type="radio" name="gender" value="female" [(ngModel)]="userData.gender"> Female</label><br><br>
    </div>
    <div class="form-group">
      <label for="age">Age:</label>
      <input type="number" id="age" name="age" required min="10" max="100" [(ngModel)]="userData.age" class="form-control">
      @if(ageNotValid){
        <p class="validation">Age should be between 10 and 100 !</p>
      }
    </div>
    <div class="form-group">
      <label for="profileImage">Profile Image:</label>
      <div class="input-with-preview">
        <input type="file" id="profileImage" name="profileImage" (change)="onFileSelected($event)" class="form-control">
        <div class="image-preview" *ngIf="imageUrl">
          <img [src]="imageUrl" alt="Profile Image" (click)="toggleEnlargeImage()">
        </div>
      </div>
      <div class="enlarge-image" *ngIf="enlargeImageVisible" (click)="toggleEnlargeImage()">
        <img [src]="imageUrl" alt="Profile Image">
      </div>
    </div>    
    <button type="submit" class="giftBtn">Next</button>
  </form>
</div>

<div *ngIf="currentPage === 2" class="container">
  <form (ngSubmit)="register()" #registerForm2="ngForm" class="loginForm card">
    <div class="card-header">
      Register [Page 2/2]
    </div>
    <!-- Additional Mobile Number -->
    <div class="form-group">
      <label for="mobileNumber">Mobile Number:</label>
      <input type="text" id="mobileNumber" name="mobileNumber" required minlength="11" maxlength="11" [(ngModel)]="userData.mobileNumber" class="form-control">
      @if(mobileNotValid){
        <p class="validation">Mobile Number should be 11 digits !</p>
      }
    </div>
    <div class="additional-mobiles" *ngFor="let additionalMobile of additionalMobiles; let i = index">
      <div class="form-group">
        <label for="additionalMobileNumber{{i}}">Mobile Number {{i + 2}}:</label>
        <div class="input-container">
          <input type="text" id="additionalMobileNumber{{i}}" name="additionalMobileNumber{{i}}" required minlength="11" maxlength="11" [(ngModel)]="additionalMobiles[i].number" class="form-control">
          <button type="button" (click)="removeMobile(i)" class="giftBtn removeBtn">Remove</button>
        </div>
      </div>
    </div>
    <div class="form-group" *ngIf="additionalMobiles.length < 2">
      <button type="button" (click)="addMobile()" class="giftBtn">Add Another Mobile Number</button>
    </div>
    
    <hr>

    <!-- Additional Address -->
    <div class="form-group">
      <label for="address">Address:</label>
      <textarea id="address" name="address" required [(ngModel)]="userData.address" class="form-control"></textarea>
      @if(addressNotValid){
        <p class="validation">This address is required !</p>
      }
    </div>
    <div class="additional-addresses" *ngFor="let additionalAddress of additionalAddresses; let i = index">
      <div class="form-group">
        <label for="additionalAddress{{i}}">Address {{i + 2}}:</label>
        <div class="input-container">
          <textarea id="additionalAddress{{i}}" name="additionalAddress{{i}}" required [(ngModel)]="additionalAddresses[i].address" class="form-control"></textarea>
          <button type="button" (click)="removeAddress(i)" class="giftBtn removeBtn">Remove</button>
        </div>
      </div>
    </div>
    <div class="form-group" *ngIf="additionalAddresses.length < 2">
      <button type="button" (click)="addAddress()" class="giftBtn">Add Another Address</button>
    </div>

    <!-- Previous and Register buttons -->
    <div class="button-container">
      <button type="button" (click)="previousPage()" class="giftBtn">Previous</button>
      <button type="submit" class="giftBtn regBtn">Register</button>
    </div>
    
  </form>
</div>

