<footer class="ms-footer m-t-30">
    <div class="footer-container">
        <div class="footer-top padding-tb-60">
            <div class="container">
                <div class="row m-minus-991">
                    <div class="col-sm-12 col-lg-3 ms-footer-cat">
                        <div class="ms-footer-widget ms-footer-company">
                            <img src="assets/img/logo/footer-logo.png" class="ms-footer-logo" alt="footer logo">
                            <p class="ms-footer-detail">Masterkart is the biggest market of grocery products. Get your daily
                                needs from our store.</p>
                            <div class="ms-app-store">
                                <a href="#" class="app-img"><img src="assets/img/app/android.png" class="adroid" alt="apple"></a>
                                <a href="#" class="app-img"><img src="assets/img/app/apple.png" class="apple" alt="apple"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-2 ms-footer-info">
                        <div class="ms-footer-widget">
                            <h4 class="ms-footer-heading">Category</h4>
                            <div class="ms-footer-links ms-footer-dropdown">
                                <ul class="align-items-center">
                                    <li class="ms-footer-link"><a href="shop-left-sidebar-col-3.html">Dairy & Milk</a></li>
                                    <li class="ms-footer-link"><a href="shop-banner-left-sidebar-col-3.html">Snack & Spice</a></li>
                                    <li class="ms-footer-link"><a href="shop-full-width-col-5.html">Fast Food</a></li>
                                    <li class="ms-footer-link"><a href="shop-list-left-sidebar.html">Juice & Drinks</a></li>
                                    <li class="ms-footer-link"><a href="shop-list-full-col-2.html">Bakery</a></li>
                                    <li class="ms-footer-link"><a href="shop-banner-right-sidebar-col-4.html">Seafood</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-2 ms-footer-account">
                        <div class="ms-footer-widget">
                            <h4 class="ms-footer-heading">Company</h4>
                            <div class="ms-footer-links ms-footer-dropdown">
                                <ul class="align-items-center">
                                    <li class="ms-footer-link"><a routerLink="/about">About us</a></li>
                                    <li class="ms-footer-link"><a href="track-order.html">Delivery</a></li>
                                    <li class="ms-footer-link"><a href="privacy-policy.html">Legal Notice</a></li>
                                    <li class="ms-footer-link"><a href="terms-condition.html">Terms & conditions</a></li>
                                    <li class="ms-footer-link"><a href="checkout.html">Secure payment</a></li>
                                    <li class="ms-footer-link"><a href="contact-us.html">Contact us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-2 ms-footer-service">
                        <div class="ms-footer-widget">
                            <h4 class="ms-footer-heading">Account</h4>
                            <div class="ms-footer-links ms-footer-dropdown">
                                <ul class="align-items-center">
                                    <li class="ms-footer-link"><a href="register.html">Sign In</a></li>
                                    <li class="ms-footer-link"><a href="cart.html">View Cart</a></li>
                                    <li class="ms-footer-link"><a href="privacy-policy.html">Return Policy</a></li>
                                    <li class="ms-footer-link"><a href="#">Become a Vendor</a></li>
                                    <li class="ms-footer-link"><a href="#">Affiliate Program</a></li>
                                    <li class="ms-footer-link"><a href="checkout.html">Payments</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-3 ms-footer-cont-social">
                        <div class="ms-footer-contact">
                            <div class="ms-footer-widget">
                                <h4 class="ms-footer-heading">Contact</h4>
                                <div class="ms-footer-links ms-footer-dropdown">
                                    <ul class="align-items-center">
                                        <li class="ms-footer-link ms-foo-location"><span><img
                                                    src="assets/img/icons/foo-location.svg" class="svg_img foo_svg"
                                                    alt=""></span>
                                            <p>2548 Broaddus Maple Court, Madisonville KY 4783, USA.</p>
                                        </li>
                                        <li class="ms-footer-link ms-foo-call"><span><img
                                                    src="assets/img/icons/foo-wp.svg" class="svg_img foo_svg"
                                                    alt=""></span><a href="tel:+009876543210">+00 9876543210</a>
                                        </li>
                                        <li class="ms-footer-link ms-foo-mail"><span><img
                                                    src="assets/img/icons/foo-mail.svg" class="svg_img foo_svg"
                                                    alt=""></span><a
                                                href="mailto:example@email.com">example&commat;email.com</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="ms-footer-social">
                            <div class="ms-footer-widget">
                                <div class="ms-footer-links ms-footer-dropdown">
                                    <ul class="align-items-center">
                                        <li class="ms-footer-link"><a href="#"><i class="msicon msi-instagram" aria-hidden="true"></i></a></li>
                                        <li class="ms-footer-link"><a href="#"><i class="msicon msi-twitter-square" aria-hidden="true"></i></a></li>
                                        <li class="ms-footer-link"><a href="#"><i class="msicon msi-facebook-square" aria-hidden="true"></i></a></li>
                                        <li class="ms-footer-link"><a href="#"><i class="msicon msi-linkedin-square" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="ms-bottom-info">
                        <!-- Footer Copyright Start -->
                        <div class="footer-copy">
                            <div class="footer-bottom-copy ">
                                <div class="ms-copy">Copyright © <a class="site-name"
                                        href="index.html">Masterkart</a> all
                                    rights reserved. Powered by Masterkart.</div>
                            </div>
                        </div>
                        <!-- Footer Copyright End -->
                        <!-- Footer payment -->
                        <div class="footer-bottom-right">
                            <div class="footer-bottom-payment d-flex justify-content-center">
                                <div class="payment-link">
                                    <img src="assets/img/hero-bg/payment.png" alt="payment">
                                </div>

                            </div>
                        </div>
                        <!-- Footer payment -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>