.container {
  min-height: 105vh;
  min-width: 100%;
  margin-top: -5vh;
  overflow: hidden;
}

.loginForm {
  margin-top: 25vh;
}

input {
  margin-top: 20px;
}

.card {
  background-color: rgba(255, 255, 255, 0.279);
  border: 1px solid #17181c23;
}

.card-header {
  font-weight: bold;
  font-size: 27px;
  color: #17181c;
}

.form-group {
  font-size: 20px;
  color: #17181c;
}

.validation {
  margin-left: 10px;
  font-size: 15px;
}
.error {
  color: #e64949;
}
.sucess {
  color: #198754;
}

.giftBtn {
  padding-top: 15px;
  width: 100%;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 8px;
  height: 30px;
  width: 71px;
  pointer-events: none;
}
