<div class="container">
  <div class="loginForm row justify-content-center">
    <div class="col-md-6 mb-2">
      <div class="card">
        <div class="text-center">
          <div class="card-header">Login</div>
        </div>
        <div class="card-body">
          <form [formGroup]="MyValid" (ngSubmit)="Add()" novalidate>
            <div class="form-group mb-4">
              <label for="email">Email address</label>
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="Enter email"
                formControlName="email"
                (ngModelChange)="validateForm()"
              />
              @if(formMsg.email){
              <p class="validation {{ formMsg.email.type }}">
                {{ formMsg.email.msg }}
              </p>
              }
            </div>
            <div class="form-group mb-4">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder="Enter password"
                formControlName="password"
                (ngModelChange)="validateForm()"
              />
              @if(formMsg.password){
              <p class="validation {{ formMsg.password.type }}">
                {{ formMsg.password.msg }}
              </p>
              }
            </div>
            <div class="gift text-center">
              <button type="submit" class="giftBtn btn btn-primary">
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="foot text-center">
    <p>Dont have an account yet? <a href="/register">Register Now</a></p>
  </div>
</div>
