<div class="w-50 mx-auto">

    <div class="ms-2">
        <h3 class="text-dark">Discover <span class="text-success">Items</span></h3>
    </div>
    
    <div class="container mt-5">
        <div class="row">
            @for (cat of categories; track cat.categoryId; let i = $index) {
                @if(i < 3) {
                    <div class="col-md-3">
                        <h6>{{cat.categoryName}}</h6>
                    </div>
                }
            }
        </div>
        <div class="row">
            <div class="col-md-3 mt-4">
                @for (prd of products; track prd.id; let i = $index) {
                    @if(catID[0] == prd.cat) { 
                        @if(i < 6) {
                            <div class="alert alert-secondary">
                                <span ><img src="{{prd.img}}" width="30"><p>{{prd.name}}</p></span>
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </div>
    
</div>