.discover {
    color: rgb(33, 124, 49);
    font-size: 1.3rem;
    text-decoration: none;
    display: inline;
    font-weight: bold;
    padding: .2em;
    position: relative;
    float: right;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

    &:before, &:after {
        position: absolute;
        content: '';
        border-bottom: 3px solid rgb(33, 124, 49);
        border-radius: 1em;
        bottom: .3em;
        transition: transform .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    &:before {
        width: 1em;
        transform-origin: left;
    }

    &:after {
        width: 82%;
        left: 1em;
        transform: translateX(110%);
    }

    &:hover:before {
        transform: scaleX(0.3);
    }

    &:hover:after {
        transform: translateX(0);
    }

}

.price {
    display: inline;
    float: right;
    font-size: .8rem;
}

.DiscoverHead {
    display: inline;
}