@if(categories && products) {

<div class="w-50 mx-auto">

    <div class="ms-2">
        <span>
            <h3 class="text-dark DiscoverHead">Discover <span class="text-success">Items</span></h3>
            <a class="discover" routerLink="/discoverAll">Discover All</a>
        </span>

    </div>

    <div class="container mt-5">
        <div class="row">
            @for (cat of categories; track cat.id; let i = $index) {
            @if(i < 3) { <div class="col-lg-4">
                <h6>{{cat.categoryName}}</h6>
        </div>
        }
        }
    </div>
    <div class="row">
        <div class="col-lg-4 mt-4">
            @for (prd of firstprdList; track prd.id; let i = $index) {
            <a routerLink="products/{{prd.id}}" class="link-offset-2 link-underline link-underline-opacity-0">
                <div class="alert alert-secondary prdsDisc" appstyle>
                    <span><img src="{{prd.img}}" width="40" height="40">
                        <p class="d-inline ms-2">{{prd.name}}</p>
                        <p class="price">{{prd.price | currency: "L.E"}}</p>
                    </span>
                </div>
            </a>
            }
        </div>

        <div class="col-lg-4 mt-4">
            @for (prd of secondprdList; track prd.id; let i = $index) {
            <a routerLink="products/{{prd.id}}" class="link-offset-2 link-underline link-underline-opacity-0">
                <div class="alert alert-secondary prdsDisc" appstyle>
                    <span><img src="{{prd.img}}" width="40" height="40">
                        <p class="d-inline ms-2">{{prd.name}}</p>
                        <p class="price">{{prd.price | currency: "L.E"}}</p>
                    </span>
                </div>
            </a>
            }
        </div>

        <div class="col-lg-4 mt-4">
            @for (prd of thirdprdList; track prd.id; let i = $index) {
            <a routerLink="products/{{prd.id}}" class="link-offset-2 link-underline link-underline-opacity-0">
                <div class="alert alert-secondary prdsDisc" appstyle>
                    <span><img src="{{prd.img}}" width="40" height="40">
                        <p class="d-inline ms-2">{{prd.name}}</p>
                        <p class="price">{{prd.price | currency: "L.E"}}</p>
                    </span>
                </div>
            </a>
            }
        </div>
    </div>
</div>

</div>
} @else {
    <div class="alert alert-danger">
        <p>Loading...........</p>
    </div>
}