<section class="ms-new-product padding-tb-30">
    <div class="container">
      <div class="section-title-2">
        <h2 class="ms-title">Related <span>Products</span></h2>
        <p>Browse The Collection of Top Products</p>
      </div>
  
      <div class="row p-t-15">
        <div class="ms-new-product col-lg-12">
          <div class="section-bg-color section-space-p30 main-border-radius">
            <div class="ms-product-block m-minus-15">
              <div
                class="new-product-carousel owl-carousel owl-loaded owl-drag"
                style="overflow: hidden; position: relative"
              >
                <div
                  #reladedComponetContainer
                  class="owl-stage"
                  style="
                    transform: translate3d(0px, 0px, 0px);
                    transition: all 1s ease 0s;
                    width: 3630px;
                  "
                >
                  <div class="owl-item cloned active" style="width: 242px">
                    <div class="ms-product-content">
                      <div class="ms-product-inner">
                        <div class="ms-pro-image-outer">
                          <div class="ms-pro-image">
                            <a href="product-left-sidebar.html" class="image">
                              <span class="label veg">
                                <span class="dot"></span>
                              </span>
                              <img
                                class="main-image"
                                src="assets/img/product-images/30_1.jpg"
                                alt="Product"
                              />
                              <img
                                class="hover-image"
                                src="assets/img/product-images/30_1.jpg"
                                alt="Product"
                              />
                            </a>
                            <span class="flags">
                              <span class="new">New</span>
                            </span>
                            <div class="ms-pro-actions">
                              <a
                                href="javascript:void(0)"
                                class="ms-btn-group wishlist"
                                title="Wishlist"
                                ><img
                                  src="assets/img/icons/pro_wishlist.svg"
                                  class="svg_img pro_svg"
                                  alt=""
                              /></a>
                              <a
                                href="#"
                                class="ms-btn-group quickview"
                                data-link-action="quickview"
                                title="Quick view"
                                data-bs-toggle="modal"
                                data-bs-target="#ms_quickview_modal"
                                ><img
                                  src="assets/img/icons/quickview.svg"
                                  class="svg_img pro_svg"
                                  alt=""
                              /></a>
                              <a
                                href="javascript:void(0)"
                                class="ms-btn-group compare"
                                title="Compare"
                                ><img
                                  src="assets/img/icons/compare.svg"
                                  class="svg_img pro_svg"
                                  alt=""
                              /></a>
                              <a
                                href="javascript:void(0)"
                                title="Add To Cart"
                                class="ms-btn-group add-to-cart"
                                ><img
                                  src="assets/img/icons/pro_cart.svg"
                                  class="svg_img pro_svg"
                                  alt=""
                              /></a>
                            </div>
                          </div>
                        </div>
                        <div class="ms-pro-content">
                          <a href="shop-left-sidebar-col-3.html">
                            <h6 class="ms-pro-stitle">Foods</h6>
                          </a>
                          <h5 class="ms-pro-title">
                            <a href="product-left-sidebar.html"
                              >Banana Chips Snack</a
                            >
                          </h5>
                          <div class="ms-pro-rat-price">
                            <span class="ms-pro-rating">
                              <i class="msicon msi-star fill"></i>
                              <i class="msicon msi-star fill"></i>
                              <i class="msicon msi-star"></i>
                              <i class="msicon msi-star"></i>
                              <i class="msicon msi-star"></i>
                              <span class="qty">2 pack</span>
                            </span>
                            <span class="ms-price">
                              <span class="new-price">$45.00</span>
                              <span class="old-price">$50.00</span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="owl-item cloned active" style="width: 242px">
                    <div class="ms-product-content">
                      <div class="ms-product-inner">
                        <div class="ms-pro-image-outer">
                          <div class="ms-pro-image">
                            <a href="product-left-sidebar.html" class="image">
                              <span class="label veg">
                                <span class="dot"></span>
                              </span>
                              <img
                                class="main-image"
                                src="assets/img/product-images/13_1.jpg"
                                alt="Product"
                              />
                              <img
                                class="hover-image"
                                src="assets/img/product-images/13_1.jpg"
                                alt="Product"
                              />
                            </a>
                            <span class="flags">
                              <span class="sale">Sale</span>
                            </span>
                            <div class="ms-pro-actions">
                              <a
                                href="javascript:void(0)"
                                class="ms-btn-group wishlist"
                                title="Wishlist"
                                ><img
                                  src="assets/img/icons/pro_wishlist.svg"
                                  class="svg_img pro_svg"
                                  alt=""
                              /></a>
                              <a
                                href="#"
                                class="ms-btn-group quickview"
                                data-link-action="quickview"
                                title="Quick view"
                                data-bs-toggle="modal"
                                data-bs-target="#ms_quickview_modal"
                                ><img
                                  src="assets/img/icons/quickview.svg"
                                  class="svg_img pro_svg"
                                  alt=""
                              /></a>
                              <a
                                href="javascript:void(0)"
                                class="ms-btn-group compare"
                                title="Compare"
                                ><img
                                  src="assets/img/icons/compare.svg"
                                  class="svg_img pro_svg"
                                  alt=""
                              /></a>
                              <a
                                href="javascript:void(0)"
                                title="Add To Cart"
                                class="ms-btn-group add-to-cart"
                                ><img
                                  src="assets/img/icons/pro_cart.svg"
                                  class="svg_img pro_svg"
                                  alt=""
                              /></a>
                            </div>
                          </div>
                        </div>
                        <div class="ms-pro-content">
                          <a href="shop-left-sidebar-col-3.html">
                            <h6 class="ms-pro-stitle">Tuber root</h6>
                          </a>
                          <h5 class="ms-pro-title">
                            <a href="product-left-sidebar.html">Onion - Hybrid</a>
                          </h5>
                          <div class="ms-pro-rat-price">
                            <span class="ms-pro-rating">
                              <i class="msicon msi-star fill"></i>
                              <i class="msicon msi-star fill"></i>
                              <i class="msicon msi-star fill"></i>
                              <i class="msicon msi-star"></i>
                              <i class="msicon msi-star"></i>
                              <span class="qty">10 kg</span>
                            </span>
                            <span class="ms-price">
                              <span class="new-price">$25.00</span>
                              <span class="old-price">$30.00</span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="owl-item cloned active" style="width: 242px">
                    <div class="ms-product-content">
                      <div class="ms-product-inner">
                        <div class="ms-pro-image-outer">
                          <div class="ms-pro-image">
                            <a href="product-left-sidebar.html" class="image">
                              <span class="label veg">
                                <span class="dot"></span>
                              </span>
                              <img
                                class="main-image"
                                src="assets/img/product-images/25_1.jpg"
                                alt="Product"
                              />
                              <img
                                class="hover-image"
                                src="assets/img/product-images/25_1.jpg"
                                alt="Product"
                              />
                            </a>
                            <span class="flags">
                              <span class="new">New</span>
                            </span>
                            <div class="ms-pro-actions">
                              <a
                                href="javascript:void(0)"
                                class="ms-btn-group wishlist"
                                title="Wishlist"
                                ><img
                                  src="assets/img/icons/pro_wishlist.svg"
                                  class="svg_img pro_svg"
                                  alt=""
                              /></a>
                              <a
                                href="#"
                                class="ms-btn-group quickview"
                                data-link-action="quickview"
                                title="Quick view"
                                data-bs-toggle="modal"
                                data-bs-target="#ms_quickview_modal"
                                ><img
                                  src="assets/img/icons/quickview.svg"
                                  class="svg_img pro_svg"
                                  alt=""
                              /></a>
                              <a
                                href="javascript:void(0)"
                                class="ms-btn-group compare"
                                title="Compare"
                                ><img
                                  src="assets/img/icons/compare.svg"
                                  class="svg_img pro_svg"
                                  alt=""
                              /></a>
                              <a
                                href="javascript:void(0)"
                                title="Add To Cart"
                                class="ms-btn-group add-to-cart"
                                ><img
                                  src="assets/img/icons/pro_cart.svg"
                                  class="svg_img pro_svg"
                                  alt=""
                              /></a>
                            </div>
                          </div>
                        </div>
                        <div class="ms-pro-content">
                          <a href="shop-left-sidebar-col-3.html">
                            <h6 class="ms-pro-stitle">Fresh fruit</h6>
                          </a>
                          <h5 class="ms-pro-title">
                            <a href="product-left-sidebar.html">Lichi</a>
                          </h5>
                          <div class="ms-pro-rat-price">
                            <span class="ms-pro-rating">
                              <i class="msicon msi-star fill"></i>
                              <i class="msicon msi-star fill"></i>
                              <i class="msicon msi-star fill"></i>
                              <i class="msicon msi-star fill"></i>
                              <i class="msicon msi-star fill"></i>
                              <span class="qty">500 g</span>
                            </span>
                            <span class="ms-price">
                              <span class="new-price">$25.00</span>
                              <span class="old-price">$35.00</span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="owl-item cloned" style="width: 242px">
                    <div class="ms-product-content">
                      <div class="ms-product-inner">
                        <div class="ms-pro-image-outer">
                          <div class="ms-pro-image">
                            <a href="product-left-sidebar.html" class="image">
                              <span class="label veg">
                                <span class="dot"></span>
                              </span>
                              <img
                                class="main-image"
                                src="assets/img/product-images/2_1.jpg"
                                alt="Product"
                              />
                              <img
                                class="hover-image"
                                src="assets/img/product-images/2_2.jpg"
                                alt="Product"
                              />
                            </a>
                            <span class="flags">
                              <span class="sale">Sale</span>
                            </span>
                            <div class="ms-pro-actions">
                              <a
                                href="javascript:void(0)"
                                class="ms-btn-group wishlist"
                                title="Wishlist"
                                ><img
                                  src="assets/img/icons/pro_wishlist.svg"
                                  class="svg_img pro_svg"
                                  alt=""
                              /></a>
                              <a
                                href="#"
                                class="ms-btn-group quickview"
                                data-link-action="quickview"
                                title="Quick view"
                                data-bs-toggle="modal"
                                data-bs-target="#ms_quickview_modal"
                                ><img
                                  src="assets/img/icons/quickview.svg"
                                  class="svg_img pro_svg"
                                  alt=""
                              /></a>
                              <a
                                href="javascript:void(0)"
                                class="ms-btn-group compare"
                                title="Compare"
                                ><img
                                  src="assets/img/icons/compare.svg"
                                  class="svg_img pro_svg"
                                  alt=""
                              /></a>
                              <a
                                href="javascript:void(0)"
                                title="Add To Cart"
                                class="ms-btn-group add-to-cart"
                                ><img
                                  src="assets/img/icons/pro_cart.svg"
                                  class="svg_img pro_svg"
                                  alt=""
                              /></a>
                            </div>
                          </div>
                        </div>
                        <div class="ms-pro-content">
                          <a href="shop-left-sidebar-col-3.html">
                            <h6 class="ms-pro-stitle">Dried Fruits</h6>
                          </a>
                          <h5 class="ms-pro-title">
                            <a href="product-left-sidebar.html"
                              >Dates Value Pouch</a
                            >
                          </h5>
                          <div class="ms-pro-rat-price">
                            <span class="ms-pro-rating">
                              <i class="msicon msi-star fill"></i>
                              <i class="msicon msi-star fill"></i>
                              <i class="msicon msi-star fill"></i>
                              <i class="msicon msi-star"></i>
                              <i class="msicon msi-star"></i>
                            </span>
                            <span class="ms-price">
                              <span class="new-price">$78.00</span>
                              <span class="old-price">$85.00</span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="owl-item cloned" style="width: 242px">
                    <div class="ms-product-content">
                      <div class="ms-product-inner">
                        <div class="ms-pro-image-outer">
                          <div class="ms-pro-image">
                            <a href="product-left-sidebar.html" class="image">
                              <span class="label nonveg">
                                <span class="dot"></span>
                              </span>
                              <img
                                class="main-image"
                                src="assets/img/product-images/19_1.jpg"
                                alt="Product"
                              />
                              <img
                                class="hover-image"
                                src="assets/img/product-images/19_1.jpg"
                                alt="Product"
                              />
                            </a>
                            <div class="ms-pro-actions">
                              <a
                                href="javascript:void(0)"
                                class="ms-btn-group wishlist"
                                title="Wishlist"
                                ><img
                                  src="assets/img/icons/pro_wishlist.svg"
                                  class="svg_img pro_svg"
                                  alt=""
                              /></a>
                              <a
                                href="#"
                                class="ms-btn-group quickview"
                                data-link-action="quickview"
                                title="Quick view"
                                data-bs-toggle="modal"
                                data-bs-target="#ms_quickview_modal"
                                ><img
                                  src="assets/img/icons/quickview.svg"
                                  class="svg_img pro_svg"
                                  alt=""
                              /></a>
                              <a
                                href="javascript:void(0)"
                                class="ms-btn-group compare"
                                title="Compare"
                                ><img
                                  src="assets/img/icons/compare.svg"
                                  class="svg_img pro_svg"
                                  alt=""
                              /></a>
                              <a
                                href="javascript:void(0)"
                                title="Add To Cart"
                                class="ms-btn-group add-to-cart"
                                ><img
                                  src="assets/img/icons/pro_cart.svg"
                                  class="svg_img pro_svg"
                                  alt=""
                              /></a>
                            </div>
                          </div>
                        </div>
                        <div class="ms-pro-content">
                          <a href="shop-left-sidebar-col-3.html">
                            <h6 class="ms-pro-stitle">Eggs</h6>
                          </a>
                          <h5 class="ms-pro-title">
                            <a href="product-left-sidebar.html"
                              >Farm Eggs - Brown</a
                            >
                          </h5>
                          <div class="ms-pro-rat-price">
                            <span class="ms-pro-rating">
                              <i class="msicon msi-star fill"></i>
                              <i class="msicon msi-star fill"></i>
                              <i class="msicon msi-star"></i>
                              <i class="msicon msi-star"></i>
                              <i class="msicon msi-star"></i>
                              <span class="qty">3 pcs</span>
                            </span>
                            <span class="ms-price">
                              <span class="new-price">$3.00</span>
                              <span class="old-price">$5.00</span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="owl-item cloned" style="width: 242px">
                    <div class="ms-product-content">
                      <div class="ms-product-inner">
                        <div class="ms-pro-image-outer">
                          <div class="ms-pro-image">
                            <a href="product-left-sidebar.html" class="image">
                              <span class="label veg">
                                <span class="dot"></span>
                              </span>
                              <img
                                class="main-image"
                                src="assets/img/product-images/24_1.jpg"
                                alt="Product"
                              />
                              <img
                                class="hover-image"
                                src="assets/img/product-images/24_1.jpg"
                                alt="Product"
                              />
                            </a>
                            <span class="flags">
                              <span class="new">New</span>
                            </span>
                            <div class="ms-pro-actions">
                              <a
                                href="javascript:void(0)"
                                class="ms-btn-group wishlist"
                                title="Wishlist"
                                ><img
                                  src="assets/img/icons/pro_wishlist.svg"
                                  class="svg_img pro_svg"
                                  alt=""
                              /></a>
                              <a
                                href="#"
                                class="ms-btn-group quickview"
                                data-link-action="quickview"
                                title="Quick view"
                                data-bs-toggle="modal"
                                data-bs-target="#ms_quickview_modal"
                                ><img
                                  src="assets/img/icons/quickview.svg"
                                  class="svg_img pro_svg"
                                  alt=""
                              /></a>
                              <a
                                href="javascript:void(0)"
                                class="ms-btn-group compare"
                                title="Compare"
                                ><img
                                  src="assets/img/icons/compare.svg"
                                  class="svg_img pro_svg"
                                  alt=""
                              /></a>
                              <a
                                href="javascript:void(0)"
                                title="Add To Cart"
                                class="ms-btn-group add-to-cart"
                                ><img
                                  src="assets/img/icons/pro_cart.svg"
                                  class="svg_img pro_svg"
                                  alt=""
                              /></a>
                            </div>
                          </div>
                        </div>
                        <div class="ms-pro-content">
                          <a href="shop-left-sidebar-col-3.html">
                            <h6 class="ms-pro-stitle">Fresh Fruit</h6>
                          </a>
                          <h5 class="ms-pro-title">
                            <a href="product-left-sidebar.html">Cherry</a>
                          </h5>
                          <div class="ms-pro-rat-price">
                            <span class="ms-pro-rating">
                              <i class="msicon msi-star fill"></i>
                              <i class="msicon msi-star fill"></i>
                              <i class="msicon msi-star"></i>
                              <i class="msicon msi-star"></i>
                              <i class="msicon msi-star"></i>
                              <span class="qty">1 kg</span>
                            </span>
                            <span class="ms-price">
                              <span class="new-price">$20.00</span>
                              <span class="old-price">$21.00</span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="owl-item cloned" style="width: 242px">
                    <div class="ms-product-content">
                      <div class="ms-product-inner">
                        <div class="ms-pro-image-outer">
                          <div class="ms-pro-image">
                            <a href="product-left-sidebar.html" class="image">
                              <span class="label veg">
                                <span class="dot"></span>
                              </span>
                              <img
                                class="main-image"
                                src="assets/img/product-images/17_1.jpg"
                                alt="Product"
                              />
                              <img
                                class="hover-image"
                                src="assets/img/product-images/17_1.jpg"
                                alt="Product"
                              />
                            </a>
                            <div class="ms-pro-actions">
                              <a
                                href="javascript:void(0)"
                                class="ms-btn-group wishlist"
                                title="Wishlist"
                                ><img
                                  src="assets/img/icons/pro_wishlist.svg"
                                  class="svg_img pro_svg"
                                  alt=""
                              /></a>
                              <a
                                href="#"
                                class="ms-btn-group quickview"
                                data-link-action="quickview"
                                title="Quick view"
                                data-bs-toggle="modal"
                                data-bs-target="#ms_quickview_modal"
                                ><img
                                  src="assets/img/icons/quickview.svg"
                                  class="svg_img pro_svg"
                                  alt=""
                              /></a>
                              <a
                                href="javascript:void(0)"
                                class="ms-btn-group compare"
                                title="Compare"
                                ><img
                                  src="assets/img/icons/compare.svg"
                                  class="svg_img pro_svg"
                                  alt=""
                              /></a>
                              <a
                                href="javascript:void(0)"
                                title="Add To Cart"
                                class="ms-btn-group add-to-cart"
                                ><img
                                  src="assets/img/icons/pro_cart.svg"
                                  class="svg_img pro_svg"
                                  alt=""
                              /></a>
                            </div>
                          </div>
                        </div>
                        <div class="ms-pro-content">
                          <a href="shop-left-sidebar-col-3.html">
                            <h6 class="ms-pro-stitle">Tuber root</h6>
                          </a>
                          <h5 class="ms-pro-title">
                            <a href="product-left-sidebar.html"
                              >Ginger - Organic</a
                            >
                          </h5>
                          <div class="ms-pro-rat-price">
                            <span class="ms-pro-rating">
                              <i class="msicon msi-star fill"></i>
                              <i class="msicon msi-star fill"></i>
                              <i class="msicon msi-star"></i>
                              <i class="msicon msi-star"></i>
                              <i class="msicon msi-star"></i>
                              <span class="qty">100 g</span>
                            </span>
                            <span class="ms-price">
                              <span class="new-price">$2.00</span>
                              <span class="old-price">$3.00</span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  